<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/public/css/maps.css" />
    <link rel="stylesheet" href="/public/css/citizens.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script type="module" defer src="/public/js/maps.js"></script>
    <script src="/public/js/sidepeek.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script
      src="https://cdn.tiny.cloud/1/z15wuwmhtc8coizy33qx1oppjpdm36f6otli5z73q45d3ih2/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        tinymce.init({
          selector: '#mytextarea',
        });
        const tooltip = document.querySelector('#tooltip');

        document.querySelector('form').addEventListener('submit', e => {
          if (!tinymce.get('mytextarea').getContent().trim()) {
            e.preventDefault();
            document.querySelector('#tooltip').classList.remove('hidden');
            setTimeout(function () {
              tooltip.classList.add('hidden');
            }, 2000);
          }
        });
      });
    </script>
  </head>
  <body>
    <main>
      <div class="header-citizens">
        <img src="/public/images/logo.svg" alt="Not found" />
        <div class="search_box">
          <div class="btn btn_common">
            <i class="bi bi-search"></i>
          </div>
          <input
            type="text"
            class="search-input"
            style="display: block"
            placeholder="search..."
          />
        </div>
      </div>
      <div
        class="map-container"
        style="width: 100%; height: calc(100vh - 3.5rem)"
      >
        <div id="map"></div>
      </div>

      {{>sidepeek-ad}} {{>sidepeek-noAd}} {{>feedback-detail}} {{>
      random-location}} {{> feedback-form}} {{> ad-detail}}
    </main>
    <script>
      (g => {
        var h,
          a,
          k,
          p = 'The Google Maps JavaScript API',
          c = 'google',
          l = 'importLibrary',
          q = '__ib__',
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement('script'));
              e.set('libraries', [...r] + '');
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, t => '_' + t[0].toLowerCase()),
                  g[k]
                );
              e.set('callback', c + '.maps.' + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + ' could not load.')));
              a.nonce = m.querySelector('script[nonce]')?.nonce || '';
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + ' only loads once. Ignoring:', g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: 'AIzaSyAyotXhcbT5Snxmn6dSGNxX5QH_hGvKnCk', v: 'beta' });
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  </body>
</html>
