<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <div
      class="main"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      {{{body}}}
    </div>
  </body>
</html>
