<div class="month-report">
    <div class="subtitle">
        <h3>Thống kê theo tháng</h3>
    </div>
    <div class="report-container">
        <div class="report-card">
            <p>Số lượng phản ánh</p>
            <div class="report-card-amount">1,345</div>
            <div class="percent" style="
                                    background-color: var(--report-card-down);
                                ">
                <img src="/public/images/down-arrow.svg" alt="arrow-up" />
                <p>5%</p>
            </div>
        </div>
        <div class="report-card">
            <p>Số lượng phản ánh</p>
            <div class="report-card-amount">1,345</div>
            <div class="percent" style="background-color: var(--report-card-up)">
                <img src="/public/images/up-arrow.svg" alt="arrow-up" />
                <p>5%</p>
            </div>
        </div>
        <div class="report-card">
            <p>Số lượng phản ánh</p>
            <div class="report-card-amount">1,345</div>
            <div class="percent" style="
                                    background-color: var(
                                        --report-card-noChange
                                    );
                                ">
                <img src="/public/images/noChange-arrow.svg" alt="arrow-up" />
                <p>5%</p>
            </div>
        </div>
    </div>
</div>
<div class="doughnut-report">
    <div class="subtitle">
        <h3>Thông kê theo loại phản ánh</h3>
        <div class="date-range">
            <label for="startDate"></label>
            <input type="date" id="startDate" name="startDate" />
            <span></span>
            <label for="endDate"></label>
            <input type="date" id="endDate" name="endDate" />
        </div>
    </div>
    <div class="chart-display">
        <div class="chart-container">
            <div class="total">1,345</div>
            <canvas id="chart"></canvas>
        </div>

        <d class="detail-container">
            <div
                style="position: sticky; top: 0; background-color:  rgb(249, 250, 253); width: 100%; z-index: 2; padding-top: 15px;">
                <h4>Chi tiết</h4>
                <p>Số lượng và tỉ lệ hoàn thành</p>
            </div>
            <div class="detail">
                <div class="detail-amount">
                    <p style="color: rgb(38, 32, 88);">Đóng góp ý kiến</p>
                    <p>390</p>
                </div>
                <div class="circle-container">
                    <svg width="80" height="80" style=" stroke-dashoffset: calc(219.911 - (65 / 100) * 219.911);">
                        <circle cx="40" cy="40" r="35"></circle>
                    </svg>
                    <div class="percentage-text">65%</div>
                </div>
            </div>

            <div class="detail">
                <div class="detail-amount">
                    <p style="color: rgb(79, 62, 215);">Giải đáp thắc mắc</p>
                    <p>336</p>
                </div>
                <div class="circle-container">
                    <svg width="80" height="80" style=" stroke-dashoffset: calc(219.911 - (90 / 100) * 219.911);">
                        <circle cx="40" cy="40" r="35"></circle>
                    </svg>
                    <div class="percentage-text">90%</div>
                </div>
            </div>

            <div class="detail">
                <div class="detail-amount">
                    <p style="color: rgb(183, 203, 191);">Đăng ký thông tin</p>
                    <p>202</p>
                </div>
                <div class="circle-container">
                    <svg width="80" height="80" style=" stroke-dashoffset: calc(219.911 - (80 / 100) * 219.911);">
                        <circle cx="40" cy="40" r="35"></circle>
                    </svg>
                    <div class="percentage-text">80%</div>
                </div>
            </div>

            <div class="detail">
                <div class="detail-amount">
                    <p style="color: rrgb(207, 149, 19);">Tố cáo sai phạm</p>
                    <p>416</p>
                </div>
                <div class="circle-container">
                    <svg width="80" height="80" style=" stroke-dashoffset: calc(219.911 - (65 / 100) * 219.911);">
                        <circle cx="40" cy="40" r="35"></circle>
                    </svg>
                    <div class="percentage-text">65%</div>
                </div>
            </div>
    </div>
</div>
<script>
    const ctx = document.getElementById("chart");

    new Chart(ctx, {
        type: "doughnut",
        data: {
            labels: [
                "Đóng góp ý kiến",
                "Giải đáp thắc mắc",
                "Đăng ký thông tin",
                "Tố cáo sai phạm",
            ],
            datasets: [
                {
                    label: "Phần trăm",
                    data: [29, 25, 31, 15],
                    backgroundColor: [
                        "rgb(38, 32, 88)",
                        "rgb(79, 62, 215)",
                        "rgb(183, 203, 191)",
                        "rgb(207, 149, 19)",
                    ],
                    hoverOffset: 4,
                },
            ],
        },
        options: {
            borderJoinStyle: "round",
            borderRadius: 10,
            hoverBorderWidth: 8,
            borderWidth: 5,
            plugins: {
                legend: false,
            },
            animation: {
                animateScale: true,
                animateRotate: true,
            },
        },
    });
</script>