<form class="create-account-form">
  <div class="form-group">
    <label for="email-input">Email</label>
    <input
      type="email"
      class="form-control"
      id="email-input"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group">
    <label for="name-input">Họ và tên</label>
    <input
      type="text"
      class="form-control"
      id="name-input"
      placeholder="Họ và tên"
    />
  </div>
  <div class="phone-date">
    <div class="form-group">
      <label for="phone-input">Số điện thoại</label>
      <input
        type="text"
        class="form-control"
        id="name-input"
        placeholder="0123456789"
      />
    </div>

    <div class="form-group">
      <label for="date-input">Ngày sinh</label>
      <input
        type="date"
        class="form-control"
        id="date-input"
        placeholder="01/01/2023"
      />
    </div>

  </div>
  <label for="customRadioInline1">Cấp quản lý</label>

  <div class="choose-position">
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioInline1"
        name="customRadioInline1"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadioInline1">Cấp quận</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioInline2"
        name="customRadioInline2"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadioInline2">Cấp phường</label>
    </div>
  </div>
  <div class="choose-area">
    <div class="form-group col-md-4">

      <select id="district-input" class="form-control">
        <option selected>Chọn Quận</option>
        <option> Quận 5 </option>
        <option> Quận 8 </option>
      </select>
    </div>
    <div class="form-group col-md-4">

      <select id="warn-input" class="form-control">
        <option selected>Chọn Phường</option>
        <option> Phường 1 </option>
        <option> Phường 2 </option>
        <option> Phường 3 </option>
        <option> Phường 4 </option>
        <option> Phường 5 </option>
        <option> Phường 6 </option>
        <option> Phường 7 </option>
      </select>
    </div>
  </div>

</form>