<h1>Đặt lại mật khẩu</h1>
<h5>{{email}}</h5>
<form action="" method="post">
    <label for="password">Password</label>
    <input type="password" id="password"name="password">
    <br>
    <label for="confirmPassword">Confirm password</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <br>
    <input type="submit" value="reset password">
</form>