<div class="sidebar">
  <div class="logo-details">
    <img src="../../public/images/logo.svg" alt="logo" class="logo-web" />
    <div class="logo_name" style="font-weight: bold">WAM</div>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/home">
        <i class="bx bx-map-pin"></i>
        <span class="links_name">Trang chủ</span>
      </a>
      <span class="tooltip">Trang chủ</span>
    </li>
    <li>
      <a href="/location">
        <i class="bx bx-location-plus"></i>
        <span class="links_name">Quản lý điểm đặt</span>
      </a>
      <span class="tooltip">Quản lý điểm đặt</span>
    </li>
    <li>
      <a href="/reports">
        <i class="bx bxs-report"></i>
        <span class="links_name">Xử lý báo cáo</span>
      </a>
      <span class="tooltip">Xử lý báo cáo</span>
    </li>
    <li>
      <a href="/permission">
        <i class="bx bx-paper-plane"></i>
        <span class="links_name">Cấp phép</span>
      </a>
      <span class="tooltip">Cấp phép</span>
    </li>
    <li>
      <a href="/review">
        <i class='bx bx-list-check'></i>
        <span class="links_name">Yêu cầu chỉnh sửa</span>
      </a>
      <span class="tooltip">Yêu cầu chỉnh sửa</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <form action="/profile">
          <button type="submit" style="background-color: rgba(0, 0, 0,0 ); border: 0">
            <i class="bx bx-user-circle user"></i>
          </button>
        </form>
        <div class="name_job">
          <div id="user-name-nav" class="name">{{user.last_name}} {{user.first_name}}</div>
          <div class="job">Quản lý {{#ifEquals user.areaLevel 1}}Quận{{else}}{{#ifEquals user.areaLevel 2}}Phường{{else}}Sở{{/ifEquals}}{{/ifEquals}}</div>
        </div>
      </div>
      <i class="bx bx-log-out pointer" id="log_out"></i>
    </li>
  </ul>
</div>