<div class="login-content">
    <div class="forgot-div-content active-div">
        <h1 class="login-title">Đặt lại mật khẩu</h1>
        <p class="forgot-para {{#if message}}alert-danger danger{{/if}}"> {{#if message}}{{{message}}}{{else}}{{/if}}</p>
        <form action="/resetPassword" method="post">
            <div class="form-outline mb-4">
                <label class="form-label login-label" for="password">Mật khẩu mới</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg" value="" autofocus required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label login-label" for="confirmPassword">Nhập lại mật khẩu</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" value="" required />
            </div>
            <div style="display: none;" class="form-outline mb-4">
                <label class="form-label login-label" for="email">email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{email}}" />
            </div>
            <div class="forgot-submit">
                <button class="btn forgot-submit login-button" type="submit" tabindex="4">
                    Lưu
                    <i class="bi bi-chevron-right"></i>
                </button>
                <a href="/login" class="forgot-label fs-16">Trở về Đăng nhập</a>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>