<style>
    .checkbox {
        width: 324px;
        height: 52px;
        background-color: rgb(245, 243, 255);
        border-radius: 30px;
        position: relative;
        color: black;
        overflow: hidden;
        padding: 0;
        margin-bottom: 8px;
    }

    #checkbox_toggle {
        display: none;
    }

    .checkbox .toggle {
        width: 162px;
        height: 52px;
        position: absolute;
        border-radius: 30px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        background: rgb(249, 250, 253);
        transition: 0.4s;
        border: 2px solid #B7CBBF;
    }

    .checkbox .slide {
        width: 324px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }

    .checkbox .slide .text {
        font-size: 16px;
        font-weight: 700;
        z-index: 100;
        cursor: pointer;
    }

    .check:checked+.checkbox .slide .toggle {
        transform: translateX(162px);
    }
</style>

<input id="checkbox_toggle" type="checkbox" class="check" target="location" {{checked}}>
<div class="checkbox">
    <label class="slide" for="checkbox_toggle">
        <label class="toggle" for="checkbox_toggle"></label>
        <label class="text" for="checkbox_toggle">
            <img src="/public/images/pinLocation.svg">
            Điểm đặt
        </label>
        <label class="text" for="checkbox_toggle">
            <img src="/public/images/request.svg">
            Yêu cầu
        </label>
    </label>
</div>