<div class="container">
  <div class="header">
    <h5 id="ad-name">Bảng quảng cáo 1</h5>
    <i class="bi bi-exclamation-octagon-fill icon hidden"></i>
  </div>

  <div class="size">
    <b>Kích thước</b>
    <p id="ad-size">2.5m x 10m</p>
  </div>

  <div class="contrast">
    <p><b>Thời hạn hợp đồng</b></p>
    <div class="date-container">
      <img src="/images/Line 7.png" alt="Not found!" />

      <div class="date">
        <p id="start">Ngày 15 tháng 10 năm 2023</p>
        <p id="end">Ngày 16 tháng 10 năm 2023</p>
      </div>
    </div>
  </div>

  {{> carousel}}
  <div class="button-container">
    <button type="button" class="btn btn-primary">
      <i class="bi bi-info-circle"></i> Chi tiết
    </button>
    <button type="button" class="btn btn-primary">
      <i class="bi bi-send-fill"></i> Phản hồi
    </button>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
