* {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}

.adcard-container {
  background-color: #fff;
  width: 23rem;
  height: 28em;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 0.75rem;
  padding: 0 1rem 1rem 1rem;
}

.adcard-container p {
  margin-bottom: 0;
  text-align: left;
}

.adcard-container .header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.bi-exclamation-octagon-fill {
  margin-top: 0.3rem;
  color: red;
  width: 5%;
}

.adcard-container h5 {
  width: 100%;
  padding-top: 0.25rem;
  text-align: center;
}

.adcard-container .size {
  display: flex;
  margin-top: 0.25rem;
}

.adcard-container .size b {
  padding-right: 0.5rem;
}

.adcard-container .date-container {
  display: flex;
  align-items: center;
}

.adcard-container .date-container img {
  margin-left: 0.2rem;
}

.adcard-container .date {
  padding-left: 0.5rem;
}

.adcard-container .date p {
  color: #4f3ed7;
}

.adcard-container .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
