* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.active {
  background-color: #fff !important;
}

.select-menu {
  max-width: 438px !important;
}
.select-menu .select-btn {
  height: 40px;
  background: #fff;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .select-btn i {
  position: absolute;
  left: 26.5rem;
  margin-top: 1px;
}
.select-menu .options {
  position: absolute;
  width: 438px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  padding: 9px 16px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-menu.active .select-btn i::before {
  transform: rotate(-180deg);
}

.select-btn i::before {
  transition: 0.3s;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
