{{! 


Truyền dô một object:
var obj = {
  title: "Tên cái title",
  items: ["tên item1", "tên item2"]
} 


}}
<div class="dropdown">
  <a
    class="btn btn-secondary dropdown-toggle custom-dropdown"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="dropdownMenuButton"
  >
    {{title}}
  </a>

  <ul class="dropdown-menu" id="dropdownMenu">
    {{#each items}}
      <li><a
          class="dropdown-item"
          onclick="updateButtonText('{{this}}')"
        >{{this}}</a></li>
    {{/each}}
  </ul>
</div>