<div class="toggle-button">
    <div class="vertical-line"></div>
    <div class="vertical-line"></div>
</div>
<div class="navbar close-nav">
    <div class="logo-area">
        <img src="/public/images/logo.svg" alt="logo" />
        <p>WAM</p>
    </div>
    <div class="nav-list">
        {{#each nav_link}}
            <a href="{{name}}" class="nav-item {{#if active}} active {{/if}}">
                <img src="/public/images/navIcon/{{name}}.svg" alt="{{name}}" />
                <p>{{title}}</p>
            </a>
        {{/each}}
    </div>

    <div class="acc-area">
        <img src="/public/images/navIcon/account.svg" alt="account" />
        <div class="user">
            <p>Ông Thập</p>
            <p>Làng địa ngục</p>
        </div>
        <i class="bi bi-box-arrow-in-right button"></i>
    </div>
</div>

<script>
        const navBarWidth = 80;
        const navBarWidthExpand = 260;
        const padding = 30;
        let sizeNavBar = navBarWidth;

        window.addEventListener('resize', () => {
            document.querySelector(".main-content").style.width = `${window.innerWidth - sizeNavBar}px`;
            document.querySelector(".title").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
            document.querySelector(".content").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
        })
    function left() {
        line = document.querySelectorAll(".vertical-line");
        line[0].style.transform = "translateY(0.15rem) rotate(15deg) translateZ(0px)"; 
        line[1].style.transform = "translateY(-0.15rem) rotate(-15deg) translateZ(0px)"; 
    } 
    function right() { 
        line = document.querySelectorAll(".vertical-line");
        line[0].style.transform = "translateY(0.15rem) rotate(-15deg) translateZ(0px)";
        line[1].style.transform = "translateY(-0.15rem) rotate(15deg) translateZ(0px)"; 
    } 
    function line() { 
        line = document.querySelectorAll(".vertical-line"); 
        line[0].style.transform = "translateY(0.15rem) rotate(0) translateZ(0px)"; 
        line[1].style.transform = "translateY(-0.15rem) rotate(0) translateZ(0px)";
    } 
    document.querySelector(".toggle-button").addEventListener("mouseover", () => {
        if (
            document.querySelector(".navbar").classList.contains("close-nav")) {
                right();
            } else { 
                left(); 
            }
        }); 
    document.querySelector(".toggle-button").addEventListener("mouseout", line); 
    document.querySelector(".toggle-button").addEventListener("click", () => {
        if (document.querySelector(".navbar").classList.contains("close-nav")) {
            sizeNavBar = navBarWidthExpand;
            document.querySelector(".navbar").classList.remove("close-nav");
            document.querySelector(".navbar").style.width = "var(--nav-bar-width-expand)";
            console.log(document.querySelector(".main-content"));
            document.querySelector(".main-content").style.width = `${window.innerWidth - navBarWidthExpand}px`;
            document.querySelector(".main-content").style.marginLeft = "var(--nav-bar-width-expand)";
            document.querySelector(".toggle-button").style.left = "270px";
            document.querySelector(".title").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
            document.querySelector(".content").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
        } else {
            sizeNavBar = navBarWidth;
            document.querySelector(".navbar").classList.add("close-nav");
            document.querySelector(".navbar").style.width = "var(--nav-bar-width)";
            document.querySelector(".main-content").style.marginLeft = "var(--nav-bar-width)"; 
            document.querySelector(".main-content").style.width = `${window.innerWidth - navBarWidth}px`;
            document.querySelector(".toggle-button").style.left = "90px"; right();
            document.querySelector(".title").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
            document.querySelector(".content").style.width = `${window.innerWidth - sizeNavBar - padding * 2}px`;
        } 
    });
</script>