
<div class="btn" onclick="showPopup()">
    <i class="bi bi-arrow-up-right-square" style="color: black"></i>
</div>

<div id="popup-parent" style="position: fixed; top:0; left:0; display:flex; height: 100vh; width: 100vw; background-color: rgba(0,0,0,0.2);z-index: 1; visibility: hidden; justify-content:center; align-items:center;">
    <img 
        id="form-img"
        src="../../public/images/form.png" 
        style="
            position: fixed;
            width: 100px;
            top: 10%;
            left: 50%;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0,0,0,alpha);
            z-index: 11;
            transition: transform 0.4s, top 0.4s;
            transform: translate(-50%, -50%) scale(0.1);
            visibility: hidden;
        "
    alt="">
    <div class="popup"
    style="
        width: 40%;
        height: 80%;
        position: absolute;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        padding: 0 30px 30px;
        color: #333;
        text-align: center;
        z-index: 10;
        transition: transform 0.4s, top 0.4s;
        visibility: hidden;
        overflow:scroll;
    " id="location-popup">
        <h2 style="margin-top: 60px; ">Yêu cầu cấp phép</h2>
        <button style="position:fixed; right: 10px; top:10px;" type="button" class="btn-close" onclick="hidePopup()" id="close-edit-request">
        </button>

        <hr>

        <div class="row">
            <div class="col-6">
                <p style="text-align: left; font-weight: bold;margin-top:25px">Tên công ty</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="Công ty TNHH MTV Alone"> 
                <p style="text-align: left; font-weight: bold;margin-top:25px">Số điện thoại</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="0989898989"> 
                <p style="text-align: left; font-weight: bold;margin-top:25px">Ngày bắt đầu</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="1/1/2024"> 
        </input>
            </div>
            <div class="col-6">
                <p style="text-align: left; font-weight: bold;margin-top:25px">Email</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="example@gmail.com"> 
                <p style="text-align: left; font-weight: bold;margin-top:25px">Địa chỉ công ty</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="47, Đ. Điện Biên Phủ"> 
                <p style="text-align: left; font-weight: bold;margin-top:25px">Ngày kết thúc</p>
                <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="1/1/2025"> 
            </div>
        </div>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Điểm đặt quảng cáo</p>
        <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px" disabled="disabled" placeholder="47, Đ. Điện Biên Phủ, P. Bến Nghé, Q. Bình Thạnh"> 
        </input>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Mô tả bảng quảng cáo</p>
        <textarea class="form-control" name="" id="" rows="4" disabled="disabled">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut, voluptas, architecto maiores corrupti amet eius nulla illum numquam ipsum est! Debitis ex quia illum nobis veniam cum, veritatis unde?</textarea>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Hình ảnh mô tả</p>
        <div style="height: 300px; width: 100%">
            <div id="myCarousel" class="carousel slide mb-6" style="border-radius: 10px; overflow: hidden;" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../public/images/location3.png" class="h-100 w-100" alt="">
                
                </div>
                <div class="carousel-item">
                    <img src="../../public/images/location1.png" class="h-100 w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../../public/images/location2.png" class="h-100 w-100" alt="">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<script>

    let popup = document.getElementById("location-popup")
    let img = document.getElementById("form-img")
    let submit = document.getElementById("submit-request")
    console.log(img);
    let popup_parent = document.getElementById("popup-parent")
    let close_btn = document.getElementById("close-edit-request")
    let originalStyles = {}
    let originalImg = {}
    popup_parent.addEventListener('click', ()=>{
        if(event.target.id === 'popup-parent') {
            hidePopup();
        }
    });
    submit.addEventListener('click', ()=>{
        hidePopup();
    });
    close_btn.addEventListener('click', ()=>{
        hidePopup();
    });

    function showPopup(){
        document.querySelector('body').style.overflowY = 'hidden';
        originalStyles.visibility = popup.style.visibility || '';
        originalStyles.top = popup.style.top || '';
        originalStyles.left = popup.style.left || '';
        originalStyles.transform = popup.style.transform || '';

        originalImg.marginBottom = img.style.marginBottom || '';
        originalImg.transform = img.style.transform || '';
        img.style.marginBottom = '45%';
        img.style.transform = 'translate(-50%, -50%) scale(1)';
        img.style.visibility = 'visible';
        
        popup_parent.style.visibility = 'visible';
        popup.style.visibility = 'visible';
        popup.style.top = '50%';
        popup.style.left = '50%';
        popup.style.transform = 'translate(-50%, -50%) scale(1)';
    }
    function hidePopup(){
        document.querySelector('body').style.overflowY = 'auto';
        img.style.marginBottom = originalImg.marginBottom || '';
        img.style.visibility = originalImg.visibility || '';
        img.style.transform = originalImg.transform || '';
        popup_parent.style.visibility = 'hidden';
        popup.style.visibility = originalStyles.visibility || '';
        popup.style.top = originalStyles.top || '';
        popup.style.left = originalStyles.left || '';
        popup.style.transform = originalStyles.transform || '';

    }
</script>