
<button class="btn" style="background-color: blueviolet; color: white; padding: 8px; border:0; border-box: none;border-radius: 5px; margin-left: 22%;" onclick="showPopup()">
          <div style="display: flex;justify-content:center; align-items: center; align-self:flex-end;">
            <i class="bi bi-patch-plus"></i>
            <p style="margin: 0;">Tạo mới</p>
          </div>
        </button>

<div id="popup-parent" style="position: fixed; top:0; left:0; display:flex; height: 100vh; width: 100vw; background-color: rgba(0,0,0,0.2);z-index: 1; visibility: hidden; justify-content:center; align-items:center;">
    <img 
        id="form-img"
        src="../../public/images/form.png" 
        style="
            position: fixed;
            width: 100px;
            top: 10%;
            left: 50%;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0,0,0,alpha);
            z-index: 11;
            transition: transform 0.4s, top 0.4s;
            transform: translate(-50%, -50%) scale(0.1);
            visibility: hidden;
        "
    alt="">
    <div class="popup"
    style="
        width: 40%;
        height: 80%;
        position: absolute;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        padding: 0 30px 30px;
        color: #333;
        text-align: center;
        z-index: 10;
        transition: transform 0.4s, top 0.4s;
        visibility: hidden;
        overflow:scroll;
    " id="location-popup">
        <h2 style="margin-top: 60px; ">Yêu cầu cấp phép</h2>
        <button style="position:fixed; right: 10px; top:10px;" type="button" class="btn-close" onclick="hidePopup()" id="close-edit-request">
        </button>

        <hr>

        <div class="row">
            <div class="col-6">
                <div style="text-align: left;">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Họ và tên</label>
                    <input name="inputName" type="text" class="form-control" id="inputName" required />
                    
                </div>

                <div style="text-align: left;margin-top:30px">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputName" required />
                </div>
                <div style="text-align: left;margin-top:30px">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Ngày bắt đầu</label>
                    <input type="date" class="form-control" id="inputName" required />
                </div>
            </div>
            <div class="col-6">
                <div style="text-align: left;">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputName" required />
                </div>
                
                <div style="text-align: left;margin-top:30px">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Địa chỉ công ty</label>
                    <input type="text" class="form-control" id="inputName" required />
                </div>
                <div style="text-align: left;margin-top:30px">
                    <label style="font-weight: bold;" for="inputName" class="form-label">Ngày kết thúc</label>
                    <input type="date" class="form-control" id="inputName" required />
                </div>
            </div>
        </div>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Điểm đặt quảng cáo</p>
        <input style="margin:0;width: 100%; padding: 10px; text-align: left; border-radius: 5px; border-width:0.2px"  placeholder="Điểm đặt"> 
        </input>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Mô tả bảng quảng cáo</p>
        <textarea class="form-control" name="" id="" rows="4" ></textarea>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Hình ảnh mô tả</p>
        {{>upload_field}}
        {{!-- <button id="submit-request"
            style="width: 100%; outline: none; border:0; padding: 10px; border-radius: 5px; background-color: #262058; color: white; margin-top: 50px"
            onclick="hidePopup()">

            <h5 style="margin: 0;">Gửi yêu cầu</h5>
        </button> --}}
        <input type="submit" style="width: 100%; outline: none; border:0; padding: 10px; border-radius: 5px; background-color: #262058; color: white; margin-top: 50px" value="Gửi yêu cầu" onclick="hidePopup()"">
    </div>
</div>


<script>

    let popup = document.getElementById("location-popup")
    let img = document.getElementById("form-img")
    let submit = document.getElementById("submit-request")
    console.log(img);
    let popup_parent = document.getElementById("popup-parent")
    let close_btn = document.getElementById("close-edit-request")
    let originalStyles = {}
    let originalImg = {}
    popup_parent.addEventListener('click', ()=>{
        if(event.target.id === 'popup-parent') {
            if(confirm('Bạn muốn thoát khỏi biểu mẫu?'))
                hidePopup();
        }
    });
    submit.addEventListener('click', ()=>{
        hidePopup();
    });
    close_btn.addEventListener('click', ()=>{
        if(confirm('Bạn muốn thoát khỏi biểu mẫu?'))
            hidePopup();
    });

    function showPopup(){
        document.querySelector('body').style.overflowY = 'hidden';
        originalStyles.visibility = popup.style.visibility || '';
        originalStyles.top = popup.style.top || '';
        originalStyles.left = popup.style.left || '';
        originalStyles.transform = popup.style.transform || '';

        originalImg.marginBottom = img.style.marginBottom || '';
        originalImg.transform = img.style.transform || '';
        img.style.marginBottom = '45%';
        img.style.transform = 'translate(-50%, -50%) scale(1)';
        img.style.visibility = 'visible';
        
        popup_parent.style.visibility = 'visible';
        popup.style.visibility = 'visible';
        popup.style.top = '50%';
        popup.style.left = '50%';
        popup.style.transform = 'translate(-50%, -50%) scale(1)';
    }
    function hidePopup(){
        document.querySelector('body').style.overflowY = 'auto';
        img.style.marginBottom = originalImg.marginBottom || '';
        img.style.visibility = originalImg.visibility || '';
        img.style.transform = originalImg.transform || '';
        popup_parent.style.visibility = 'hidden';
        popup.style.visibility = originalStyles.visibility || '';
        popup.style.top = originalStyles.top || '';
        popup.style.left = originalStyles.left || '';
        popup.style.transform = originalStyles.transform || '';

    }
</script>