<div class="random-container shadow-sm hidden" id="random-sidepeek">
  <img src="/public/images/random-location.svg" alt="not found" />
  <div class="content">
    <div class="address-container">
      <p class="detail-address">227, Nguyễn Văn Cừ</p>
      <p class="area">Phường 4, Quận 5, Thành Phố Hồ Chí Minh</p>
    </div>
    <div class="coorordinate">
      <p class="lat-long">10.750839 - 106.674025</p>
      <button type="button" class="btn btn-primary">
        <i class="bi bi-send-fill"></i>
        Phản hồi
      </button>
    </div>
  </div>
</div>
