* {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}

.random-container {
  display: flex;
  justify-content: flex-start;
  width: 29rem;
  background-color: #f9fafd;
  position: absolute;
  border-radius: 12px;
  padding: 0.75rem;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, 0);
}

.random-container .content {
  margin-left: 0.75rem;
}

.address-container {
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #dee2e6;
}

.random-container p {
  margin: 0;
}

.detail-address {
  font-weight: bold;
}

.area {
  font-size: 0.9rem;

}

.coorordinate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.coorordinate .lat-long {
  font-weight: bold;
  color: #4f3ed7;
  margin-right: 0.25rem;
}
