<div class="drop_box">
  <header>
    <h4>Chọn ảnh hoặc kéo thả ảnh vào đây</h4>
  </header>
  <p>Chỉ chấp nhận: PNG, JPEG (tối đa 2 ảnh)</p>
  <input
    type="file"
    hidden
    accept=".png, .jpeg"
    id="fileID"
    style="display: none"
  />
  <button class="btn">Chọn ảnh</button>
</div>

<script>
  const dropArea = document.querySelector('.drop_box'),
    button = dropArea.querySelector('button'),
    dragText = dropArea.querySelector('header'),
    input = dropArea.querySelector('input');
  let file;
  var filename;

  button.onclick = () => {
    input.click();
  };

  input.addEventListener('change', function (e) {
    var fileName = e.target.files[0].name;
    let filedata = `
    <form action="" method="post">
    <div class="form">
    <h4>${fileName}</h4>
    <input type="email" placeholder="Enter email upload file">
    <button class="btn">Upload</button>
    </div>
    </form>`;
    dropArea.innerHTML = filedata;
  });
</script>
