<div>
  <h3>Chọn phân hệ để xem giao diện</h3>
  <a href="./home"
    ><button type="button" class="btn btn-primary">
      Phân hệ Phường/Quận
    </button></a
  >
  <a href="./testing/dashboard"
    ><button type="button" class="btn btn-secondary">Phân hệ Sở</button></a
  >
</div>
