<div
  style="display: flex; flex-direction: column; align-items: center; margin: 50px"
>
  <h3>Chแปn phรขn hแป ฤแป xem giao diแปn</h3>
  <div class="d-grid gap-2">
    <a href="./home"><button type="button" class="btn btn-primary w-100">
        Phรขn hแป Phฦฐแปng/Quแบญn
      </button></a>
    <a href="./testing/dashboard"><button
        type="button"
        class="btn btn-primary w-100"
      >Phรขn hแป Sแป</button></a>
  </div>

  <div style="margin: 0 100px; padding-top: 20px; ">
    <p>Thแบงy cรด kรญnh yรชu cแปงa chรบng em! Thแบงy cรด lร nhแปฏng ngฦฐแปi ฤรกng iu nhแบฅt em
      tแปซng gแบทp trong cuแปc sแปng ฤแบงy hแปi hแบฃ nรy, dรน cho tแปฅi em cรณ lรm gรฌ vแบซn luรดn
      khoan dung cho chรบng em ๐๐
      <br />
      Vรฌ nhฦฐ thแบฟ, chรบng em chแบฏc chแบฏn lร dรน tแปฅi em cรณ lรm chฦฐa xong web tฤฉnh,
      nhฦฐng thแบงy cรด vแบซn giฦก cao tay nhฦฐng ฤรกnh rแบฅt khแบฝ โค๏ธโ๐ฅ
      <br />
      Chรบng em cรบi ฤแบงu tแบก lแปi, vร cแบฃm ฦกn thแบงy cรด rแบฅt nhiแปu!
    </p>
  </div>
</div>