body {
    margin: 0;
    padding: 0;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header-citizens {
    width: 100vw;
    height: 3.5rem;
    background-color: blueviolet;
}