body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main-content{
    width: calc(100vw - var(--nav-bar-width));
    padding: 20px 30px;
    height: auto;
    margin-left: var(--nav-bar-width);
    transition: margin-left 0.5s;
    position: relative;
    box-sizing: border-box;
    overflow-x: auto;;
}


.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 2px solid rgba(0, 0,0, 0.3); 
    position: sticky;
    top: 0;   
}


.title h1 {
    font-weight: 900;
    margin: 0px;
}

.content {
    padding: 15px 0px;
    width: 100%;
    height: calc(100% - 4rem);
}
