.create-account-form label {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-account-form input {
  border-radius: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.phone-date {
  display: flex;
  justify-content: space-between;
}

.choose-area {
  display: flex;
  justify-content: space-between;
}

.choose-position {
  display: flex;
  justify-content: flex-start;
}

#customRadioInline2 {
  margin-left: 3rem;
}
.create-account-form select{
    height: 50px;
}