* {
  margin: 0;
  padding: 0;
}
.lable-container {
  display: flex;
  width: 1772px;
  height: calc(100vh - 4rem - 30px - 40px);
}
.labels {
  overflow: auto;
  width: 9%;
  padding-left: 5px;
}
.lable {
  background-color: #f9fafd;
  width: 150px;
  height: 240px;
  border: 1px solid #4f3ed7;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.lable h4 {
  margin: 0;
  text-align: left;
  font-size: 1.625rem !important;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.lable p {
  margin: 0;
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
}

.lable-icon {
  position: relative;
  text-align: right;
  align-items: center;
}
.labels .bi-arrow-right {
  top: -3px;
  right: 3px;
  position: absolute;
  font-size: 1.5rem;
  color: #4f3ed7 !important;
}

.lable-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 91%;
}

.lable-table h4 {
  font-weight: bold;
}

.labels::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.labels {
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
