@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

hr {
  border-style: solid none none;
  color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
}
