* {
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.main {
  height: 100vh;
  padding: 20px;
  background-color: white;
}

hr {
  margin-top: 0;
  border-style: solid none none;
  color: rgba(0, 0, 0, 0.6);
  border-width: 2px;
}

.title {
  margin-bottom: 20px;
}

.toolbar {
  display: flex;
  margin-bottom: 30px;
}

.form-select {
  margin: 0 10px;
}

#info-ad-location td,
#info-ad-location th {
  border: none;
}
.offcanvas {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.open-popup{
  visibility: visible;
  top: 20%;
  left: 0;
  transform: translate(-50%, -50%) scale(1);
}