@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --nav-bar-width:  80px;
  --nav-background: #262058;
  --nav-item-active: #4f3ed7; 
  --nav-icon-size: 35px;
  --nav-bar-width-expand: 260px;
  --title-width: 4rem;
  --report-card-backgroud: rgb(249, 250, 253);
  --report-card-down: rgb(254, 175, 157);
  --report-card-up: rgb(183, 203, 191);
  --report-card-noChange: rgb(255, 247, 221)
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(24, 16, 92, 0.6);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgba(24, 16, 92, 1);
}