@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
}

.wrapper form :where(i, p) {
  color: #000000;
}

.wrapper form i {
  font-size: 50px;
  color: #0e6793;
}

.wrapper form p {
  margin-top: 15px;
  font-size: 16px;
}

section .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i {
  color: #6990f2;
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.bi-check {
  font-size: 16px;
}

hr {
  border-style: solid none none;
  color: rgba(0, 0, 0, 0.3) !important;
  border-width: 2px !important;
}

.table_heading {
  font-weight: bold;
  font-size: 28px;
}

body {
  min-height: 90vh;
  min-width: 90vw;
  background-color: #f4f5fc !important;
}

.location_table {
  background-color: #fff;
  /* backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005; */
  border-radius: 0.8rem;
  padding: 10px;
  overflow: hidden;
  margin: 1% 8%;
  width: 90vw;
  height: 95vh;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input_group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 1px solid #4f3ed7;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

.table__header .input_group:hover {
  width: 50%;
  background-color: #fff8;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.1rem 0.4rem #0002;
  border: 1px solid #4f3ed9;
}

.table__header .input_group img {
  width: 6%;
  height: auto;
  padding: 0 0.5rem 0 0.3rem;
}

.table__header .input_group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.form-select {
  margin: 0 10px;
}

#info-ad-location{
  padding: 0;
}


#info-ad-location td,
#info-ad-location th {
  border: none;
}

.offcanvas {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.open-popup {
  visibility: visible;
  top: 20%;
  left: 0;
  transform: translate(-50%, -50%) scale(1);
}

.table__body {
  width: 98%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
  font-size: small;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.table-cell-type{
  font-weight: bold; font-size: 15px;
  margin: 0 !important;
}


table,
th,
td {
  border-collapse: collapse;
  padding: 0.6rem 1.3rem;
  text-align: center;
}

thead th {
  position: sticky;
  font-size: 15px;
  padding: 0.8rem 2rem;
  top: 0;
  left: 0;
  background-color: rgb(79, 62, 215);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}


tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}
table {
  width: 100%;
}
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr td,
tbody tr td p{
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  display: none;
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr:hover {
  background-color: rgba(79, 62, 215, 0.1) !important;
}

.status {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  text-align: center;
  margin: 10px 0px 10px 40px;
  width: 8rem;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.last-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.last-cell i {
  cursor: pointer;
}

.table-cell-offcanvas{
  text-align: left;
  padding: 3px;
}

#popup-parent_{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

#form-img_{
  position: fixed;
  width: 100px;
  top: 10%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, alpha);
  z-index: 11;
  transition: transform 0.4s, top 0.4s;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
}

.popup_{
  width: 40%;
  height: 80%;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  text-align: center;
  z-index: 10;
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  overflow: scroll;
}

#popup-parent {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

#form-img {
  position: fixed;
  width: 100px;
  top: 10%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, alpha);
  z-index: 11;
  transition: transform 0.4s, top 0.4s;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
}

.popup {
  width: 40%;
  height: 80%;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  text-align: center;
  z-index: 10;
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  overflow: scroll;
}

    .menu_div {
      margin-top: 10px;
    }
  
    .select-btn,
    .selectedAddressOfAd,
    .selectedAddress {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  
    .select-btn {
      height: 40px;
      padding: 0 20px;
      background: #fff;
      border-radius: 7px;
      justify-content: space-between;
      border: 0.1px solid rgba(0, 0, 0, 0.1);
    }
  
    .select-btn i {
      font-size: 15px;
      transition: transform 0.3s linear;
    }
  
    .menu_div.active .select-btn i {
      transform: rotate(-180deg);
    }
  
    .content {
      display: none;
      padding: 20px;
      margin-top: 15px;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
  
    .menu_div.active .content {
      display: block;
    }
  
    .content .search {
      position: relative;
    }
  
    .search i {
      top: 50%;
      left: 15px;
      color: #999;
      pointer-events: none;
      transform: translateY(-50%);
      position: absolute;
    }
  
    .search input {
      height: 40px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      padding: 0 20px 0 43px;
      border: 1px solid #B3B3B3;
    }
  
    .search input:focus {
      padding-left: 42px;
      border: 2px solid #4285f4;
    }
  
    .search input::placeholder {
      color: #bfbfbf;
    }
  
    .content .options {
      margin-top: 10px;
      max-height: 250px;
      overflow-y: auto;
      padding-right: 7px;
    }
  
    .options::-webkit-scrollbar {
      width: 7px;
    }
  
    .options::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 25px;
    }
  
    .options::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 25px;
    }
  
    .options::-webkit-scrollbar-thumb:hover {
      background: #b3b3b3;
    }
  
    .options{
      text-align: left;
    }


    .options li {
      height: 50px;
      list-style: none;
    }
  
    .options li:hover,
    li.selected {
      border-radius: 5px;
      background: #f2f2f2;
    }