.search {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  max-height: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.search input {
  display: block;
  border-radius: 12px;
  border: none;
}
.search input:focus {
  border: none;
}

.mapboxgl-ctrl {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  border: none;
  margin: 12px;
  height: fit-content;
}
