@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif !important;
  box-sizing: border-box;
}

.table_heading {
  font-weight: bold;
  font-size: 28px;
}
body {
  min-height: 90vh;
  min-width: 90vw;
}

.report_table {
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  padding: 10px;
  overflow: hidden;
  margin: 1% 6%;
  width: 90%;
  height: 95%;
}
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input_group {
  width: 500px;
  height: 100%;
  background-color: #fff5;
  padding: 1rem 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 1px solid #4f3ed7;
}

.table__header .input_group i {
  font-size: 30px;
  height: auto;
  padding: 0 2rem 0 0.3rem;
}

.table__header .input_group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.tab-bar {
  display: flex;
  gap: 10px;
  padding: 0 !important;
  justify-content: flex-start;
  align-items: last baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.tab-bar button {
  background-color: transparent;
  color: black;
  padding: 8px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 50px 3px rgba(1, 1, 1, 0.1);
  border: none;
  width: 15%;
  font-size: 80%;
  font-family: "Quicksand", sans-serif;
}

.tab-btn-active {
  color: white !important;
  background-color: #262058 !important;
  transition: all 0.2s ease-in allow-discrete;
  font-weight: bold;
  font-size: 100%;
}

.table__body {
  width: 98%;
  height: calc(89% - 1.6rem);

  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
  font-size: 16px;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}
table,
th,
td:not(:last-child) {
  border-collapse: collapse;
  padding: 0.4rem 1.3rem;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(79, 62, 215);
  color: white;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(79, 62, 215, 0.1) !important;
}

.status {
  padding: 0.4rem 0;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  width: 8rem;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
.last-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.last-cell i {
  cursor: pointer;
}

.status {
  padding: 0.4rem 0;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  width: 8rem;
}
.status.solved {
  background-color: #86e49d;
  color: #006b21;
}

.status.unsolved {
  background-color: #d893a3;
  color: #b30021;
}

.filter_btn {
  background-color: transparent;
  border: none !important;
  font-size: 16px !important;
  color: white !important;
  font-weight: bold !important;
}

.dropdown-item {
  font-size: 16px;
  width: fit-content !important;
}

.extra {
  display: none;
}

.expand_row {
  height: 40%;
  width: 40px;
  background-color: red;
  padding: 0.5em;
}

.more-information {
  transition: ease-in-out 10s linear 10s;
  display: flex;
  flex-direction: row;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1em;
}

.title {
  font-weight: bold;
  height: fit-content;
  width: 20%;
  text-align: left;
}
.bx {
  height: 30px;
  width: 30px;
}
.content {
  height: fit-content;
}

.report_solution {
  padding: 0 0.5em;
}

.report_solotion_area {
  width: 95%;
  height: 100px;
  padding: 1em;
  outline: 1px solid #4f3ed7;
  border-radius: 12px;
}

.button-report-field {
  padding: 2% 5%;
  width: 100%;
}

.button-report-field button {
  float: right;
}
.button-report {
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: medium;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
  margin: 1%;
}

.send-report {
  border: 2px solid #262058;
  background-clip: #262058;
  color: #4f3ed7;
}

.cancel-report {
  border: 2px solid #b30021;
  color: #b30021;
}
.button-report:disabled {
  pointer-events: none;
}

.button-report:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.cancel-report:hover {
  background-color: #b30021;
}
.send-report:hover {
  background-color: #262058;
}
.button-report:active {
  box-shadow: none;
  transform: translateY(0);
}
