<!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
<div class="select-menu">
  <div class="select-btn">
    <span class="sBtn-text">Hình thức báo cáo</span>
    <i class="bi bi-chevron-down"></i>
  </div>

  <ul class="options hidden">
    <li class="option">
      <span class="option-text">Tố giác sai phạm</span>
    </li>
    <li class="option">
      <span class="option-text">Đăng ký nội dung</span>
    </li>
    <li class="option">
      <span class="option-text">Đóng góp ý kiến</span>
    </li>
    <li class="option">
      <span class="option-text">Giải đáp thắc mắc</span>
    </li>
  </ul>
</div>
<script>
  const optionMenu = document.querySelector('.select-menu'),
    selectBtn = optionMenu.querySelector('.select-btn'),
    options = optionMenu.querySelectorAll('.option'),
    optionList = optionMenu.querySelector('.options'),
    sBtn_text = optionMenu.querySelector('.sBtn-text');

  selectBtn.addEventListener('click', () => {
    optionList.classList.toggle('hidden');
    optionMenu.classList.toggle('active');
  });

  options.forEach(option => {
    option.addEventListener('click', () => {
      let selectedOption = option.querySelector('.option-text').innerText;
      sBtn_text.innerText = selectedOption;
      optionList.classList.add('hidden');

      optionMenu.classList.remove('active');
      selectBtn.style.backgroundColor = '#e8f0fe';
      selectBtn.style.boxShadow = '0 0 0 0.01rem rgba(13,110,253,.25)';
      selectBtn.style.border = '0.1px solid #dee2e6';
    });
  });
</script>
