<form method="POST" class="feedback-form hidden">
  <div class="form-header">
    <h2 class="form-name">Đơn phản ánh</h2>
    <i class="bi bi-x-circle"></i>
  </div>
  <div class="type-email">
    <div>
      <label for="dropdown" class="form-label">Hình thức báo cáo</label>
      <div class="select-menu">
        <div class="select-btn">
          <span class="sBtn-text">Hình thức báo cáo</span>
          <i class="bi bi-chevron-down"></i>
        </div>

        <ul class="options hidden">
          <li class="option">
            <span class="option-text">Tố giác sai phạm</span>
          </li>
          <li class="option">
            <span class="option-text">Đăng ký nội dung</span>
          </li>
          <li class="option">
            <span class="option-text">Đóng góp ý kiến</span>
          </li>
          <li class="option">
            <span class="option-text">Giải đáp thắc mắc</span>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <label for="exampleInputEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail"
        aria-describedby="emailHelp"
        required
      />
    </div>
  </div>
  <div class="name-phonenum">
    <div>
      <label for="inputName" class="form-label">Họ và tên</label>

      <input type="text" class="form-control" id="inputName" required />
    </div>
    <div>
      <label for="phone" class="form-label">Số điện thoại</label>
      <input type="tel" class="form-control" id="phone" required />
    </div>
  </div>

  <div class="feedback-textarea">
    <label for="mytextarea" class="form-label">Nội dung báo cáo</label>
    <textarea id="mytextarea" rows="3" name="mytextarea"></textarea>
    <div id="tooltip" class="hidden">Vui lòng điền Nội dung báo cáo.</div>
  </div>

  <div class="upload-file">
    <label for="upload-file">Hình ảnh báo cáo</label>
    <div class="drop_box">
      <header>
        <h4>Chọn ảnh hoặc kéo thả ảnh vào đây</h4>
      </header>
      <p>Chỉ chấp nhận: PNG, JPEG (tối đa 2 ảnh)</p>
      <input
        type="file"
        hidden
        accept=".png, .jpeg"
        id="fileID"
        style="display: none"
      />
      <button class="btn">Chọn ảnh</button>
    </div>
  </div>
  <div class="submit-captcha">
    {{!-- <div
      class="g-recaptcha"
      id="recaptcha"
      data-sitekey="6LcY8BMpAAAAAKvpHZiObsxgDj9cxcb4fz6waH11"
    ></div> --}}
    <button type="submit" class="btn btn-primary" id="confirm-button">
      <i class="bi bi-send-fill"></i> Xác nhận
    </button>
  </div>
</form>
<div class="overlay hidden"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelector('form .bi-x-circle')
      .addEventListener('click', () => {
        document.querySelector('.feedback-form').classList.add('hidden');
        document.querySelector('.overlay').classList.add('hidden');
      });
  });
</script>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', e => {
    e.preventDefault();
    const captchaResponse = grecaptcha.getResponse();
    if (!captchaResponse.length > 0) {
      throw new Error('Captcha not complete');
    }

    const fd = new FormData(e.target);
    const params = new URLSearchParams(fd);

    fetch('http://localhost:3000/upload', {
      method: 'POST',
      body: params,
    })
      .then(res => res.json())
      .then(data => {
        if (
          data.captchaSuccess &&
          tinymce.get('mytextarea').getContent().trim()
        ) {
          console.log('Validation Successful!');
          alert('Đã gửi phản hồi thành công');
          document.querySelector('form').classList.add('hidden');
          document.querySelector('.overlay').classList.add('hidden');
        } else {
          console.error('Validation Error!');
        }
      })
      .catch(err => console.error(err));
  });
</script>
