<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <div
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></div>
    <div
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></div>
    <div
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></div>
  </div>
  <div class="carousel-inner" id="imageList" role="listbox">
    <div class="carousel-item active">
      <img
        src="https://thedrum-media.imgix.net/thedrum-prod/s3/news/tmp/349138/uk_0.jpg?w=1280&ar=default&fit=crop&crop=faces,edges&auto=format"
        class="w-100 d-block"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://thedrum-media.imgix.net/thedrum-prod/s3/news/tmp/349138/uk_0.jpg?w=1280&ar=default&fit=crop&crop=faces,edges&auto=format"
        class="w-100 d-block"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://thedrum-media.imgix.net/thedrum-prod/s3/news/tmp/349138/uk_0.jpg?w=1280&ar=default&fit=crop&crop=faces,edges&auto=format"
        class="w-100 d-block"
        alt="Third slide"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
