* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.logo-search img {
  width: 4rem;
  height: 4rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.header-citizens {
  position: relative;
  width: 100vw;
  height: 3.5rem;
  background-color: #4f3ed7;
  display: flex;
  align-items: center;
}

.header-citizens .search-input {
  border: 0;
  width: 100%;
  outline: none !important;
  color: #8b7d77;
  border-color: #fff;
  padding: 5px 20px 5px 15px;
  font-size: 16px;
}

.search_box {
  position: absolute;
  left: 50% ;
  transform: translate(-50%, 0);
  min-width: calc(100% - 1028px);
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  overflow: hidden;
  border-radius: 16px;
}

.search_box .btn:hover {
  background: #708bd2;
  opacity: 1;
}
