<div class="ad-detail">
  <div class="header-container">
    <h3 id="ad-name">BẢNG QUẢNG CÁO 1</h3>
    <i class="bi bi-x-lg"></i>
  </div>
  <div class="address">
    <i class="bi bi-geo"></i>
    <p id="format-address"></p>
  </div>
  <div class="carousel-swipe">
    <p class="title">Hình ảnh quảng cáo</p>
    {{> carousel-swipe}}
  </div>
  <div class="detail-info-container">
    <p>Thông tin chi tiết</p>
    <div class="detail-info-content">
      <div class="info-col1">
        <div class="info1">
          <p class="title">Hình thức quảng cáo</p>
          <p class="content" id="purpose">Cổ động chính trị</p>
        </div>
        <div class="info2">
          <p class="title">Thời hạn hợp đồng</p>
          <div class="date-container">
            <img src="/images/Line 7.png" alt="Not found!" />
            <div class="date">
              <p class="content" id="start">Ngày 15 tháng 10 năm 2023</p>
              <p class="content" id="end">Ngày 16 tháng 10 năm 2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="info-col2">
        <div class="info1">
          <p class="title">Loại bảng quảng cáo</p>
          <p class="content" id="type-ad">Trụ/Cụm pano</p>
        </div>
        <div class="info2">
          <p class="title">Số lượng</p>
          <p class="content" id="capacity">2 trụ/bảng</p>
        </div>
      </div>
      <div class="info-col3">
        <div class="info1">
          <p class="title">Loại vị trí</p>
          <p class="content" id="type-location">Đất công</p>
        </div>
        <div class="info2">
          <p class="title">Phản hồi thông tin</p>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-send-fill"></i> Phản hồi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/partials/data.js"></script>
