{{! Table }}
{{! 
var obj = {
    heading: ['head1', 'head2', 'head3'],
    row: {
        [
            "Head 1 của dòng 1",
            "Head 2 của dòng 1",
            "Head 3 của dòng 1"
        ],
        [
            "Head 1 của dòng 2",
            "Head 2 của dòng 2",
            "Head 3 của dòng 2"
        ]
    }
}



 }}
<div class="container mt-5">
  <table class="table table-striped table-hover table-bordered rounded-table">
    <thead>
      <tr>
        {{#each heading}}
          <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each row}}
        {{> row}}
      {{/each}}
    </tbody>
  </table>
</div>