<html lang="en">
  <head>
    <script type="module" defer src="/public/js/maps.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
      }
    </style>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/maps.css" />
    <link rel="stylesheet" href="../../public/css/nav.css" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>WAM</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="sidebar">
      <div class="logo-details">
        <img src="../../public/images/logo.svg" alt="logo" class="logo-web" />
        <div class="logo_name" style="font-weight: bold">WAM</div>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/home">
            <i class="bx bx-map-pin"></i>
            <span class="links_name">Trang chủ</span>
          </a>
          <span class="tooltip">Trang chủ</span>
        </li>
        <li>
          <a href="/location">
            <i class="bx bx-location-plus"></i>
            <span class="links_name">Quản lý điểm đặt</span>
          </a>
          <span class="tooltip">Quản lý điểm đặt</span>
        </li>
        <li>
          <a href="/reports">
            <i class="bx bxs-report"></i>
            <span class="links_name">Xử lý báo cáo</span>
          </a>
          <span class="tooltip">Xử lý báo cáo</span>
        </li>
        <li>
          <a href="/permission">
            <i class="bx bx-paper-plane"></i>
            <span class="links_name">Cấp phép</span>
          </a>
          <span class="tooltip">Cấp phép</span>
        </li>

        <li class="profile">
          <div class="profile-details">
            <i class="bx bx-user-circle user"></i>
            <div class="name_job">
              <div class="name">Ông Thập</div>
              <div class="job">Quản lý phường</div>
            </div>
          </div>
          <i class="bx bx-log-out pointer" id="log_out"></i>
        </li>
      </ul>
    </div>
    <!-- Navigation bar -->

    <div
      class="map-container"
      style="width: 100%; height: 100%; padding-left: 78px"
    >
      <div id="map"></div>
    </div>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "AIzaSyDHXDgbPJoFPySLuavImK6VfrMOsAeZX9o", v: "beta" });
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="home.js"></script>
  </body>
</html>
