.sidepeek-location {
  width: 900px !important;
  height: 100vh;
  border-radius: 20px 0px 0px 20px;
}

.map {
    height: 100%;
    width: 100%;
}

.sidepeek-location-header {
  justify-content: flex-start;
  gap: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sidepeek-location-header button {
  margin-right: 10px !important;
}

.sidepeek-location-header h5 {
  font-weight: 800;
}

.tab-bar {
  display: flex;
  gap: 10px;
  padding: 0 !important;
  justify-content: flex-start;
  align-items: last baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.tab-bar button {
  background-color: transparent;
  color: black;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.tab-btn-active {
  color: white !important;
  background-color: var(--nav-background) !important;
}

.rotate-btn {
  transform: rotate(180deg) !important;
}

.req-accordion-header {
  font-size: 22px;
  font-weight: 800;
  background-color: rgb(249, 250, 253);
  margin: 10px 0px;
  border-radius: 15px !important;
}

.req-accordion-header h4 {
  margin-bottom: 0px;
}

.area-accordion-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.area-accordion-header button {
  width: 60px;
}

.area-accordion-header * {
  margin: 0;
}

.area-accordion-header span {
  height: 30px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.area-accordion-header h5 {
  font-weight: 800;
}

.area-accordion-header p {
  color: rgba(0, 0, 0, 0.3);
}

#req_create_table .collapsed-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  min-height: 700px;
  justify-content: center;
}

#req_create_table .collapsed-content .loading {
  min-height: 100px !important;
  padding: 10px;
}

#req_create_table .content-table {
  min-width: 600px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
}

#req_create_table .content-table button {
  border: none;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
  background-color: transparent;
}

#req_create_table .content-detail {
  min-width: 800px;
  height: 700px;
  width: calc(100% - 620px);
  background-color: rgb(249, 250, 253);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

#req_create_table .content-detail-header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#req_create_table .content-detail-header h5 {
  font-weight: 800;
}

#req_create_table .content-detail-info {
  width: calc((100% - 20px) / 2);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
  margin: 5px 0px;
}
#req_create_table .content-detail-imgs {
  width: calc((100% - 20px) / 2);
  min-width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
}

#req_create_table .content-detail-description {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#req_create_table .content-detail-description div {
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  background-color: white;
  text-align: justify;
}

#req_create_table #req_imgs {
  border-radius: 10px;
  overflow: hidden;
}

#req_create_table .content-detail-btns {
  width: 100%;
  min-height: 60px;
  display: flex;
  margin: 5px;
  justify-content: flex-end;
  gap: 10px;
}

#req_create_table .content-detail-btns button {
  padding: 2px 10px !important;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 800;
  border: none;
}

#req_create_table .content-detail-btns button:first-child {
  border: 1px solid green;
  color: green;
}

#req_create_table .content-detail-btns button:last-child {
  border: 1px solid red;
  color: red;
}

#req_create_table .content-detail-btns button:first-child:hover {
  border: 1px solid green;
  background-color: green;
  color: white;
}

#req_create_table .content-detail-btns button:last-child:hover {
  border: 1px solid red;
  background-color: red;
  color: white;
}

#req_create_table .content-detail-attribute {
  width: 100%;
  display: flex;
}

#req_create_table .content-detail-attribute p {
  margin: 0;
}

#req_create_table .atribute-header {
  width: 150px;
  font-weight: 800;
}
#req_create_table .atribute-data {
  width: calc(100% - 150px);
  padding: 5px;
}

.selected-row td {
  background-color: rgba(79, 62, 215, 0.3);
}

.content-table .table td:last-child button:hover {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

#req_create_table {
  max-height: calc(100vh - 6rem - 25px - 110px);
}

#create-req-loading table {
  vertical-align: middle;
  text-align: center;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.collapsed-content .collapsed-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#location_table {
  max-height: calc(100vh - 6rem - 25px - 110px);
}

#req_update {
  margin: 10px 0px;
}

/* Form */

.create-form {
  width: 100%;
  height: calc(100% - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-field {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  margin: 16px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.form-field label {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 5px;
  width: auto;
}

.form-field input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-field select {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-field-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.form-field-col label {
  font-size: 18px;
  font-weight: 800;
}

.form-field-col select {
  flex: 1;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: transparent;
}

.area-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.area-selection .form-field:not(:last-child) {
  width: calc((100% - 10px) / 2);
}

.ads-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ads-info .form-field-col {
  width: calc((100% - 20px) / 2);
}

.ads-amount {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ads-amount p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}

.ads-amount label {
  font-size: 18px;
  font-weight: 800;
}

.ads-amount input {
  border-radius: 10px;
  padding-left: 12px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: transparent;
  text-align: center;
}

.ads-type {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ads-type label {
  font-size: 18px;
  font-weight: 800;
}

.ads-type select {
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: transparent;
}

/*Image upload*/

.upload-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.drag-drop {
  width: 90%;
  height: 90%;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.holder {
  text-align: center;
}

.holder i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #ccc;
}

.holder h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px !important;
}

.holder p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px !important;
}

.holder p:last-child {
  margin-top: 10px;
}

.preview {
  max-width: 80% !important;
  height: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: auto;
  gap: 20px;
  position: relative;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 10px;
  transform: translate(-50%, -50%);
}

.fileHolder {
  width: auto;
  height: 80%;
  border-radius: 4px;
  position: relative;
}

.fileHolder img {
  width: auto;
  max-width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fileHolder button {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  padding: 0px;
  border-radius: 50%;
}

.fileHolder i::before {
  color: #fff;
}

.drag-drop-dragging {
  border: 2px dashed #4f3ed7;
  width: 95%;
  height: 95%;
}

.fileHolder button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.preview > span {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
}

.submit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.inside-btns {
    display: flex;
    gap: 5px;
}

.inside-btns button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 5px;
}


.inside-btns button:first-child:hover {
    background-color: #5da7fc;
    color: white;
}

.inside-btns button:last-child:hover {
    background-color: #fc5d5d;
    color: white;
}

.inside-btns button[disabled]:hover {
    background-color: transparent;
    color: #ccc;
}
/* Ad detail information */
.edit-location-btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.edit-location-btn button {
  background-color: #fff7dd;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.edit-location-btn button:hover {
  background-color: #fcac5d;
  color: white;
}

.extend-btn .edit-location-btn {
  justify-content: center;
}

.ad-detail-imgs {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ad-detail-imgs img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.ad-detail-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0px;
  margin: 0;
  position: relative;
  transition: all 1s ease-in-out;
  border-top: 0.8px solid rgba(0, 0, 0, 0.3);
}

/*Detail info ads*/

.place-info {
  height: 32%;
  overflow: hidden;
}

.place-info .row {
  height: 100%;
}

.place-info .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.place-info .carousel-inner {
  height: 100%;
}

.place-info .carousel-item {
  height: 100%;
}

.content-detail-imgs .carousel-item img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-detail-imgs .carousel-inner {
  height: 100%;
}

.content-detail-imgs .carousel-item {
  height: 100%;
}

.ad-detail-card .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#ad-card-container-holder {
  width: 100%;
  height: 66%;
  overflow: hidden;
}

.ad-detail-container-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-detail-container-nodata {
  width: 100%;
  height: 100%;
  position: relative;
}

.ad-detail-container-nodata div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.ad-detail-card .carousel-inner {
  height: 100%;
}

.ad-detail-card .carousel-item {
  height: 100%;
}

.ad-detail-card {
  width: calc(50% - 5px);
  height: max-content;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ad-detail-card-title {
  width: 100%;
  padding: 5px 10px;
  font-weight: 800;
  color: white;
  background-color: #787ae8;
}

.view {
  width: 100%;
  /* height: 100%; */
  display: flex;
  gap: 10px;
}

.view-imgs {
  width: 50%;
  padding: 0;
  overflow: hidden;
}

.view-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.view-info-attribute span {
  font-weight: 800;
  width: 90px;
  display: inline-block;
}

.edit-ad-btn {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
  background-color: #fff7dd;
  border: none;
  padding: 2px;
  border-radius: 5px;
  line-height: 22px;
}

.edit-ad-btn:hover {
  background-color: #fcac5d;
  color: white;
}

.ad-detail-card-editing {
  width: 100% !important;
  height: auto !important;
  background-color: white !important;
  border: rgb(47, 29, 177) 1px solid !important;
  z-index: 2 !important;
  position: absolute;
  top: 10px;
  left: 0;
}

.ad-detail-card-editing .view {
  display: none;
}

.ad-detail-card-editing .edit-ad-form {
  display: flex;
}

.edit-ad-form {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  z-index: inherit;
}

.edit-ad-form .imgs-field {
  width: 60%;
  height: 100%;
}

.edit-ad-form .info-field {
  width: 40%;
  height: 100%;
  padding: 10px;
}

.edit-ad-form .info-field input {
  width: 20%;
}

.edit-ad-form .info-field label {
  width: 35%;
}

.overlay {
  position: absolute;
  width: 900px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  border-radius: 20px 0px 0px 20px;
}

/*Update request*/
.req-update-common-info {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.req-update-common-info h5 {
  font-weight: 800;
}

.req-update-common-info button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(245, 243, 255);
  color: black;
  transition: all 0.3s ease-in-out;
}

.req-update-common-info button:hover {
  background-color: rgb(47, 29, 177);
  color: white;
}

.req-update-common-info .table th,
.req-update-common-info .table td {
  border: none;
  background-color: transparent;
  padding: 2px;
}

.req-update-common-info .table th {
  width: 150px;
}

.req-update-common-info h4 {
  font-weight: 800;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
}

.collapse {
  width: 100%;
  padding: 10px;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.3);
}
.req-update-detail-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.3);
}

.req-update-detail-info h4 {
  font-weight: 800;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
}

.ru-reason {
  width: 100%;
  max-height: 20%;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}
.ru-table-cell {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.ru-table-cell-changing div {
  width: calc(50% - 2.5px);
  padding: 0px 2px;
}

.ru-table-cell-changing div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.req-update-detail-info .table th {
  width: 150px;
}

.ru-table-cell-changing p {
  display: block;
  padding: 2px;
  width: calc(100% - 4px);
  margin: 2px;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.req-update-btns {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 5px;
  width: 100%;
}

/* Ad location info table */

#info-ad-location th {
  vertical-align: middle;
  width: 25%;
}

#info-ad-location td {
  vertical-align: middle;
  width:65%;
}

.new-row td {
  background-color: rgba(123, 109, 231, 0.3);
}