.sidepeek-location {
    width: 900px !important;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
}

.sidepeek-location-header {
    justify-content: flex-start;
    gap: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sidepeek-location-header button {
    margin-right: 10px !important;
}

.sidepeek-location-header h5 {
    font-weight: 800;
}

.toolbar {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.toolbar form[role="search"] {
    width: 20rem;
    margin: 0 !important;
}

.toolbar select {
    width: 10rem;
}

.toolbar button {
    background-color: rgb(79, 62, 215);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
}

.toolbar button:hover {
    background-color: rgb(47, 29, 177);
}

.tab-bar {
    display: flex;
    gap: 10px;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: last baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.tab-bar button {
    background-color: transparent;
    color: black;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.tab-btn-active {
    color: white !important;
    background-color: var(--nav-background) !important;
}

.rotate-btn {
    transform: rotate(180deg) !important;
}

.req-accordion-header {
    font-size: 22px;
    font-weight: 800;
    background-color: rgb(249, 250, 253);
    margin: 10px 0px;
    border-radius: 15px !important;
}

.req-accordion-header h4 {
    margin-bottom: 0px;
}

.area-accordion-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 0;
}

.area-accordion-header button {
    width: 60px;
}

.area-accordion-header * {
    margin: 0;
}

.area-accordion-header span {
    height: 30px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.area-accordion-header h5 {
    font-weight: 800;
}

.area-accordion-header p {
    color: rgba(0, 0, 0, 0.3);
}

.collapsed-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
}

.content-table  {
    min-width: 600px;
    padding: 10px;
    height: fit-content;
    flex-direction: column;
}

.content-table button {
    border: none;
    background-color: transparent;
}

.content-detail {
    min-width: 800px;
    height: 700px;
    width: calc(100% - 620px);
    background-color: rgb(249, 250, 253);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.content-detail-header {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content-detail-header h5 {
    font-weight: 800;
}

.content-detail-info{
    width: calc((100% - 20px) / 2);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
}
.content-detail-imgs{
    width: calc((100% - 20px) / 2);
    min-width: 400px;
    display: flex;
    align-items: center;
}

.content-detail-description {
    width: 100%;
    min-height: calc(100% - 70px - 400px - 20px);
    max-height: calc(100% - 70px - 400px - 20px);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.content-detail-description div {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

#req_imgs {
    border-radius: 10px;
    overflow: hidden;
}

.content-detail-btns {
    width: 100%;
    min-height: 60px;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    gap: 10px;
}

.content-detail-btns button {
    padding: 2px 10px!important;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 800;
    border: none;
}

.content-detail-btns button:first-child {
    border: 1px solid green;
    color: green;
}

.content-detail-btns button:last-child {
    border: 1px solid red;
    color: red;
}

.content-detail-btns button:first-child:hover {
    border: 1px solid green;
    background-color: green;
    color: white;
}

.content-detail-btns button:last-child:hover {
    border: 1px solid red;
    background-color: red;
    color: white
}

.content-detail-attribute{
    width: 100%;
    display: flex;
    gap: 10px;
}
.atribute-header{
    width: 150px;
    font-weight: 800;
}
.atribute-data{
    padding: 5px;
}

.selected-row td {
    background-color:rgba(79, 62, 215,  0.3)
}

#req_create_table {
    max-height: calc(100vh - 6rem - 25px - 110px);
}

.table-header {
   position: sticky;
   top: 0;  
   z-index: 1;
}

.collapsed-content .collapsed-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#location_table {
    max-height: calc(100vh - 6rem - 25px - 110px);
}

#req_update {
    margin: 10px 0px;
}