.wrapper-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    cursor: pointer;
    height: 50px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.bi-chevron-down {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.wrapper-dropdown .dropdown {
    transition: all 0.3s ease;
    position: absolute;
    top: 120%;
    right: 0;
    left: 0;
    list-style: none;
    border-radius: 10px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.2);

    opacity: 0;
    display: none;
}

.wrapper-dropdown .dropdown li {
    padding: 0 15px;
    line-height: 50px;
}

.wrapper-dropdown .dropdown li:last-child {
    border-bottom: none;
}

.dropdown {
    padding: 0.5rem !important;
    max-height: 230px;
    overflow-y: auto;
}

.dropdown-with-search {
    padding-top: 0 !important;
}

.dropdown .item:hover {
    background-color: #fff3f0;
    border-radius: 10px;
}

.dropdown-search input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0.8px solid rgba(0, 0, 0, 0.2);
}

.dropdown-search {
    width: 100%;
    padding: 1rem 10px;
    height: auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

.rotate {
    transform: translate(0, -50%) rotate(180deg);
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    display: block;
    border-radius: 15px;
    background-color: #fff;
}

.active {
    background-color: #fff !important;
    border: 1px solid #4f3ed7;
    font-weight: normal !important;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.selected-display {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.add-new-area {
    background-color: white;
    width: 600px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;

}

.area-form-attribute {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.area-form-attribute h6 {
    width: 150px;
    margin: 0;
    font-weight: bold;
}


.add-new-area .form-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.form-header h5 {
    font-weight: bold;
    margin: 0;
}

.form-header .bi-x-lg {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: all 0.2s ease;

}

.form-header .bi-x-lg:hover {
    color: rgba(255, 0, 0, 0.9);
}

.form-btns {
    width: 100%;
    padding: 0;
    padding-top: 15px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.form-btns button {
    padding: 8px 12px;
    border-radius: 10px;
    background-color: rgb(79, 62, 215);
    color: white;
    border: none;
}

.form-btns button:hover {
    background-color: rgba(38, 32, 88, 0.9);
    transition: all 0.2s ease;
}

.form-btns span {
    display: inline-block;
    padding: 8px 12px;
    color: red;
    cursor: pointer;
}

.form-btns span:hover {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease;
}

/* OVERLAY */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Area table */
#area-table tr td:first-child {
    font-weight: 600;
    width: 35%;
}

.officer-group {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}


.officer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
    font-weight: 600;
    border: 0.2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.officer-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.officer-img i {
    font-size: 20px;
}

.extend-btn {
    width: 200px !important;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    gap: 10px;
    font-size: 20px;
}

.extend-btn i {
    cursor: pointer;
    transition: all 0.2s ease;
}

.extend-btn i:first-child {
    padding: 3px;
    border-radius: 5px;
    display: none;
}

.extend-btn i:first-child:hover {
    color: rgba(255, 0, 0, 0.8);
}
.extend-btn-rotate {
    transform: rotate(180deg)
}

.extend-row td{
    background-color: rgba(0, 0, 0, 0.1);
}

.new-row {
    border: 2px solid rgba(255, 0, 0, 0.2);
}