.month-report {
    width: 100%;
    height: 200px;
    position: relative;
}

.subtitle {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 10;
    position: absolute;

}

.choose-month
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.choose-month p{
    margin: 0;
    font-weight: 700;
    margin-right: 10px;
}

.subtitle h3 {
    font-weight: 600;
    margin: 0;
}
.report-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    position:absolute;
    top: 50px
}
.report-card {
    height: 110px;
    width: 305px;
    padding: 15px;
    background-color: var(--report-card-backgroud);
    position: relative;
    border-radius: 15px;
}

.report-card p {
    font-weight: 600;
}

.report-card-amount {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 32px;
    font-weight: 700;
}

.percent {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    height: 35px;
    gap: 5px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    background-color: #e6e6e6;
}

.percent p {
    margin: 0;

}

.subtitle input[type="date"], .subtitle input[type="month"] {
    border-radius: 10px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: var(--report-card-backgroud);
    padding: 5px;
}

.subtitle input[type="month"]
{
    width: 250px;
    
}

.date-range {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-range span {
    width: 10px;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0px 10px;
}

.all-charts
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 645px;
}


.doughnut-report {
    width: calc(50% - 20px);
    height: 100%;
    position: relative;
}

.chart-display {
    border-radius: 12px;
    background-color: #f9fafd;
    margin-top: 10px;
    padding: 20px 20px 20px 0;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 1;
    top: 50px;
}

.linechart-container
{
    padding: 0 0 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chart-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 800;
}

.detail-container {
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: first baseline;
    background-color: var(--report-card-backgroud);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    padding-top: 0px;
    gap: 10px;
    position: relative;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.circle-container {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage-text {
    font-size: 16px;
    position: absolute;
}

circle {
    fill: none;
    stroke-linecap: round;
    stroke: rgb(38, 32, 88); /* Change this color to the desired border color */
    stroke-width: 4;
    stroke-dasharray: 219.911; /* Circumference of a circle with a radius of 70 (2 * π * radius) */
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: center;
}

.detail {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.detail-amount {
    padding: 5px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
}

.detail-amount p {
    margin: 0;
    font-weight: 600;
}

.detail-amount p:first-child {
    font-size: 16px;
}

.detail-amount p:last-child {
    font-size: 20px;
}

.detail-container > p {
    font-weight: 600;   
    opacity: 0.5;
}

.detail-container h4 {
    font-weight: 800;
    margin: 0;
}