* {
  margin: 0;
  padding: 0;
}
.label-container {
  display: flex;
  width: calc(100% + 30px);
  height: calc(100vh - 4rem - 30px - 40px);
}
.labels {
  overflow: auto;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.label {
  background-color: #f9fafd;
  width: 150px;
  height: 240px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px 0px rgba(79, 62, 215, 0.2),
    0 2px 6px 0 rgba(79, 62, 215, 0.19);
  transition: all 0.2s ease;
}

.label-selected {
  border: 1px solid #4f3ed7;
}

.label h4 {
  margin: 0;
  text-align: left;
  font-size: 1.625rem !important;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.label p {
  margin: 0;
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
}

.label-icon {
  text-align: right;
  align-items: center;
}

.labels .bi-arrow-right {
  top: -3px;
  right: 3px;
  font-size: 1.5rem;
  color: #4f3ed7 !important;
}

.labels::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* .labels {
  scrollbar-width: thin; 
  -ms-overflow-style: none; 
} */

.label:hover {
  -webkit-box-shadow: -1px 1px 3px 6px rgba(79, 62, 215, 0.3);
  -moz-box-shadow: -1px 1px 3px 6px rgba(79, 62, 215, 0.3);
  box-shadow: -1px 1px 3px 6px rgba(79, 62, 215, 0.3);
}

.label-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  /* align-items: center;
  justify-content: center; */
  width: calc(90% - 20px);
  padding: 0px 10px 10px 10px;
  background-color: #f9fafd;
}

.label-table .notification {
  text-align: center;
}

.label-table h4 {
  font-weight: bold;
}

.label-table p {
  margin: 0;
  font-size: 18px;
}

.label-table-header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  align-items: center;
  height: 78px;
  z-index: 10;
}

.label-table-header .header-title {
  border: none;
  font-weight: bold;
}
.name-des {
  width: 70%;
}
.label-table-header .name-container,
.label-table-header .description-container {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  width: 35%;
}

.label-table-header .created-date-container {
  width: 15%;
  padding: 10px;
}

.label-table-edit p,
.save-cancel-button p,
.label-header-button p {
  font-weight: bold;
}

#add-row {
  width: 153px;
  background-color: #f5f3ff;
  padding: 10px;
  transition: all 0.5s ease;
}

.disable-button {
  background-color: gray;
  pointer-events: none;
}

.label-table-edit #edit {
  width: 128px;
  background-color: #fff7dd;
  padding: 5px;
  transition: all 0.5s ease;
}

.label-table .label-header-button {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: flex-end;
  padding: 10px;
}

.label-table button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.label-table-row {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.name-description {
  display: flex;
  align-items: center;
  width: 70%;
}

.name-description .name-content,
.name-description .description-content {
  width: 50%;
  padding: 10px;
}

.label-table .label-table-row:last-child {
  border-radius: 0px 0px 10px 10px;
}

.created-date-content {
  width: 15%;
  padding: 10px;
}

.label-table-edit {
  width: 15%;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.label-table-edit .bi-trash3 {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 1.1rem;
  color: red;
  transform: translate(0, -50%);
}

.label-table-row .edited-form {
  width: 70%;
}

.edited-form form {
  width: 100%;
  display: flex;
}

.tooltip-noti {
  color: red;
  background-color: antiquewhite;
  border-radius: 6px;
  padding: 5px;
}

.edited-field-container .name-tooltip {
  position: absolute;
  top: -60%;
  right: 0;
  transform: translate(39%, 0);
  z-index: 100;
}

.edited-field-container .des-tooltip {
  position: absolute;
  top: -60%;
  right: 0;
  transform: translate(33%, 0);
  z-index: 100;
}

.tooltip-required {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 25%;
  left: 75%;
}

.edited-field-container {
  display: flex;
  position: relative;
  width: 50%;
}

.edited-field {
  padding: 10px;
  width: calc(100% - 5px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.edited-field-container .bi-exclamation-circle-fill {
  color: red;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.empty-field {
  border: 1px solid red;
}

.save-cancel-button {
  width: 15%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.save-cancel-button .bi-check2-circle {
  padding-right: 4px;
  padding-left: 5px;
  font-size: 1.5rem;
  color: #3b3b3b;
  font-weight: bold;
}

.save-cancel-button .bi-ban {
  padding-right: 6px;
  padding-left: 6px;
  font-size: 1.3rem;
  color: #3b3b3b;
}
.save-cancel-button button {
  border-radius: 8px;
  width: 79px;
  height: 34px;
}

.save-cancel-button #save {
  background-color: #b7cbbf;
}

.save-cancel-button #cancel {
  background-color: #feaf9d;
}

.save-cancel-button .save-button,
.save-cancel-button .cancel-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 34px;
  height: 34px;
  transition: all 0.5s ease;
}

.save-cancel-button .save-button {
  margin-right: 5px;
}

.save-cancel-button .save-button:hover,
.save-cancel-button .cancel-button:hover {
  width: 79px;
}

.save-cancel-button .save-button:hover #save {
  background-color: #38b000;
}

.save-cancel-button .cancel-button:hover #cancel {
  background-color: #ff1818;
}

#add-row:hover {
  background-color: #e9a2fa;
}

.label-table-edit #edit:hover {
  background-color: #fcac5d;
}

.label-table-edit .bi-trash3:hover {
  color: #fff;
  background-color: red !important;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
}

.no-data {
  width: 100%;
  text-align: center;
}