{{! Tab button for req pages }}
<div class="tab-bar collapse">
    <button class="tab-btn tab-btn-active" target="req_create">Yêu cầu cấp phép</button>
    <button class="tab-btn" target="req_update">Yêu cầu cập nhật</button>
</div>

{{! Toolbar section }}
<div class="toolbar">

    <div class="filter-component" id="filter-sample">
        <button class="add-filter">
            <i class="bi bi-funnel" title="New filter"></i>
            Thêm bộ lọc
        </button>
        <div class="filter-list collapse">
            <label for="filter-component-search"></label>
            <input type="text" class="filter-search" id="filter-component-search" placeholder="Lọc theo..."
                oninput="searchOnFilterList(this)">
        </div>
        <div class="filters-container">
            <div class="filter-none">Chưa có bộ lọc nào</div>
        </div>
    </div>

    <button class="primary-button" id="new_location_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#location_create"
        aria-controls="location_create"
        onclick="openCreateLocationForm()"
        >
        <i class="bi bi-plus-circle"></i>
        Tạo mới
    </button>
</div>

<div id="location-area">
    <div class="table-container" id="ad-location-table">
        <table class="table table-hover">
           <thead>
                <tr>
                    <th scope="col">Quận</th>
                    <th scope="col">Phường</th>
                    <th scope="col">Loại ví trí</th>
                    <th scope="col">Hình thức</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col extend-btn"></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr class="nodata collapse">
                    <td colspan="7" style="text-align: center;">Không có dữ liệu</td>
                </tr>
                <tr class="loading">
                    <td colspan="7" style="text-align: center;">
                        <div class="d-flex justify-content-center align-items-center">
                            <div
                                class="spinner-border text-secondary spinner-border"
                                role="status"
                            >
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{! Location-detail }}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_extend"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_extend_header">Thông tin chi tiết điểm đặt quảng cáo</h5>
        <div class="edit-location-btn">
            <button class="" id="edit-location-btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#location_edit" aria-controls="location_edit">
                <i class="bi bi-pencil-fill"></i>
                Chỉnh sửa
            </button>
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="fluid-container mb-3">
            <div class="row">
                <div id="ad-place-img" style="width: 50%">
                    <div class="mb-6 placeholder-wave" id="img-holder-ad-detail" style="height: 100%;">
                        <span class="placeholder" style="height: 100%; width: 100%; display: block"></span>
                    </div>
                    <div class="mb-6 collapse" style="position: relative;" id="no-img-ad-detail">
                        <img src="/public/images/No data-pana.svg" style="height: 70%; width: auto" alt="No data">
                        <div style="font-weight: 800; width: 100%; text-align: center; position: absolute; bottom: 0;">
                            Không có hình ảnh quảng cáo
                        </div>
                    </div>
                    <div id="ad-detail-img" class="carousel slide mb-6 collapse"
                        style="border-radius: 10px; overflow: hidden; width: 100%" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-6">
                    <table style="padding: 0;" id="info-ad-location" class="table" id="inf-table">
                        <tr>
                            <th><i class="bi bi-geo-alt"> Địa chỉ</i></th>
                            <td>
                                <p class="placeholder-glow" style="width: 100%">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span></span>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-hash"></i> Số lượng</th>
                            <td>
                                <p class="placeholder-glow" style="width: 100%">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span></span>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-tag"></i> Loại vị trí</th>
                            <td>
                                <p class="placeholder-glow" style="width: 100%">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span></span>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-activity"></i> Trạng thái</th>
                            <td>
                                <p class="placeholder-glow" style="width: 100%">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span></span>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-bullseye"></i> Mục đích</th>
                            <td>
                                <p class="placeholder-glow" style="width: 100%">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span></span>
                            </td>
                        </tr>
                        {{!-- <tr>
                            <th><i class="bi bi-boxes"></i> Loại bảng</th>
                            <td>2 bảng/điểm</td>
                        </tr> --}}
                    </table>
                    {{!-- <div class="edit-location-btn">
                        <button class="" id="edit-location-btn" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#location_edit" aria-controls="location_edit">
                            <i class="bi bi-pencil-fill"></i>
                            Chỉnh sửa
                        </button>
                    </div> --}}
                </div>
            </div>
        </div>
        <div class="overlay collapse" id="detail-location-overlay"></div>
        <div class="ad-detail-info-container">
            <div class="ad-detail-card">
                <div class="view">
                    <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="First slide"></button>
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                aria-label="Second slide"></button>
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                aria-label="Third slide"></button>
                        </div>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="Third slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="view-info">
                        <div class="view-info-attribute">
                            <span>Kích thước</span> 2m x 3m
                        </div>
                        <div class="view-info-attribute">
                            <span>Bắt đầu</span> 11/11/2023
                        </div>
                        <div class="view-info-attribute">
                            <span>Kết thúc</span> 11/12/2023
                        </div>
                        <div class="view-info-status">
                            Đang quảng cáo
                        </div>
                    </div>
                    <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </div>
                <div class="edit-ad-form">
                    <form action="" class="edit-ad-form">
                        <div class="imgs-field">
                            <div class="upload-field" id="ad-content-id">
                                <label for="img-ad-content-id" class="drag-drop">
                                    <div class="holder">
                                        <i class="bi bi-cloud-arrow-up-fill"></i>
                                        <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                    </div>
                                </label>
                                <input type="file" name="imgFile" id="img-ad-content-id" accept=".png, .jpeg, .gif" multiple hidden>
                                <div class="preview" style="display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="ads-amount">
                                <label for="ad-w-ad-content-id">Chiều rộng</label>
                                <input type="number" id="ad-w-ad-content-id" placeholder="0" required>
                                <p>m</p>
                            </div>
                            <div class="ads-amount">
                                <label for="ad-h-ad-content-id">Chiều dài</label>
                                <input type="number" id="ad-h-ad-content-id" placeholder="0" required>
                                <p>m</p>
                            </div>
                            <div class="form-field">
                                <label for="start-date-ad-content-id">Bắt đầu</label>
                                <input type="date" id="start-date-ad-content-id" placeholder="" required>
                            </div>
                            <div class="form-field">
                                <label for="end-date-ad-content-id">Kết thúc</label>
                                <input type="date" id="end-date-ad-content-id" placeholder="" required>
                            </div>
                            <div class="submit-btn">
                                <button type="button" class="btn btn-secondary"
                                    onclick="cancelAdEdit(this)">Hủy</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{! Location create }}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_create"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_create_header">Tạo điểm đặt
            quảng cáo mới</h5>
    </div>
    <div class="offcanvas-body">
        <div class="map-container" style="width: 100%; height: 15rem;">
            <div class="map" id="map-for-create">
            </div>
        </div>
        {{!-- <div>
            <p id="lng">Long: </p>
            <p id="lat">Lat: </p>
            <p id="address">Address: </p>
        </div> --}}
        <form class="create-form" id="create-location-form" enctype="multipart/form-data">
            <div class="area-selection">
                <div class="form-field">
                    <label for="district-for-create">Quận</label>
                    <select name="district" id="district-for-create"title="Chọn quận" required>
                        <option selected value="">Chọn quận</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="ward-for-create">Phường</label>
                    <select name="ward" id="ward-for-create" title="Chọn phường" required disabled>
                        <option selected value="">Chọn phường</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="street-for-create">Đường</label>
                    <input type="text" name="street" id="street-for-create" placeholder="Nhập số và tên đường" title="Tên đường" required disabled>
                    <div class="inside-btns">
                        <button type="button" title="Tìm địa chỉ" disabled>
                            <i class="bi bi-geo"></i>
                            <div class="spinner-grow text-secondary spinner-grow-sm collapse" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </button>
                        <button type="button" title="Xóa" disabled><i class="bi bi-x"></i></button>
                    </div>
                </div>
            </div>
            <div class="ads-info">
                <div class="form-field-col">
                    <label for="location-type-for-create">Loại ví trị</label>
                    <select name="location-type" id="location-type-for-create" title="Chọn loại vị trí" required>
                        <option selected value="">Chọn loại vị trí</option>
                        <option value="1">Nhà riêng</option>
                        <option value="2">Đất công</option>
                    </select>
                </div>
                <div class="form-field-col">
                    <label for="purpose-for-create">Hình thức quảng cáo</label>
                    <select name="purpose-type" id="purpose-for-create" title="Chọn hình thức quảng cáo" required>
                        <option selected value="">Chọn hình thức quảng cáo</option>
                        <option value="1">Thương mại</option>
                        <option value="2">Cổ động chính trị</option>
                    </select>
                </div>
                <div class="ads-amount">
                    <label for="ads-amount-for-create">Số lượng</label>
                    <input type="number" id="ads-amount-for-create" name="ads-amount" min="1" max="10" placeholder="0" title="Số lượng" required>
                    <p>bảng / địa điểm</p>
                </div>
                {{!-- <div class="ads-type">
                    <label for="ads-type">Loại bảng quảng cáo</label>
                    <select name="ads-type" title="Chọn loại bảng quảng cáo" required>
                        <option selected value="">Chọn loại bảng quảng cáo</option>
                        <option value="1">Trụ/cụm pano</option>
                        <option value="2">Băng rôn</option>
                        <option value="3">Màn hình led</option>
                    </select>
                </div> --}}
                <div style="width: 100%; height: 200px">
                    <div class="upload-field" id="create-location-form-upload-img">
                        <label for="imgFile-for-create" class="drag-drop">
                            <div class="holder">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                            </div>
                        </label>
                        <input type="file" name="imgFile" id="imgFile-for-create" accept=".png, .jpeg, .gif" multiple hidden>
                        <div class="preview" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <button type="button" class="btn btn-secondary" onclick="clearForm('create-location-form')">Hủy</button>
                <button type="submit" class="btn btn-primary" onclick="createLocation(event)">
                    Tạo mới
                    <div class="spinner-border text-secondary spinner-border-sm collapse" role="status">
                        <span class="sr-only"></span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>

{{!-- Edit location --}}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_edit"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_create_header">Chỉnh sửa bảng quảng cáo</h5>
    </div>
    <div class="offcanvas-body">
        <div class="map-container" style="width: 100%; height: 15rem;">
            <div class="map" id="map-for-update">
            </div>
        </div>
        <form action="#" class="create-form" id="edit-location-form">
            <div class="area-selection">
                <div class="form-field">
                    <label for="distict-for-edit">Quận</label>
                    <select name="district" id="distict-for-edit"title="Chọn quận" required>
                        <option value="">Chọn quận</option>
                        <option value="1">Quận 5</option>
                        <option selected value="2">Quận 8</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="ward-for-edit">Phường</label>
                    <select name="ward" id="ward-for-edit" title="Chọn phường" required>
                        <option value="">Chọn phường</option>
                        <option value="1">Phường 1</option>
                        <option selected value="2">Phường 2</option>
                        <option value="3">Phường 3</option>
                        <option value="4">Phường 4</option>
                        <option value="5">Phường 5</option>
                        <option value="6">Phường 6</option>
                        <option value="7">Phường 7</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="street-for-edit">Đường</label>
                    <input type="text" name="street" id="street-for-edit" placeholder="Nhập số và tên đường" title="Tên đường và số nhà" required
                        value="181/37 Âu Dương Lân">

                    <div class="inside-btns">
                        <button type="button" title="Tìm địa chỉ" disabled><i class="bi bi-geo"></i></button>
                        <button type="button" title="Xóa" disabled><i class="bi bi-x"></i></button>
                    </div>
                </div>
            </div>
            <div class="ads-info">
                <div class="form-field-col">
                    <label for="location-type-for-edit">Loại ví trị</label>
                    <select id="location-type-for-edit" name="location-type" required>
                        <option value="">Chọn loại vị trí</option>
                        <option selected value="1">Nhà riêng</option>
                        <option value="2">Đất công</option>
                    </select>
                </div>
                <div class="form-field-col">
                    <label for="purpose-for-edit">Hình thức quảng cáo</label>
                    <select id="purpose-for-edit" name="purpose-type" required>
                        <option value="">Chọn hình thức quảng cáo</option>
                        <option selected value="1">Thương mại</option>
                        <option value="2">Cổ động chính trị</option>
                    </select>
                </div>
                <div class="ads-amount">
                    <label for="ads-amount-for-edit">Số lượng</label>
                    <input type="number" id="ads-amount-for-edit" min="1" max="10" placeholder="0" required value="2">
                    <p>bảng / địa điểm</p>
                </div>
                <div class="ads-type">
                    <label for="location-status">Trạng thái quy hoạch</label>
                    <select id="location-status" name="location-status" required>
                        <option value="true" selected>Đã quy hoạch</option>
                        <option value="false">Chưa quy hoạch</option>
                    </select>
                </div>
                <div style="width: 100%; height: 200px">
                    <div class="upload-field" id="edit-location-form-upload-img">
                        <label for="imgFile-for-edit" class="drag-drop">
                            <div class="holder">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                            </div>
                        </label>
                        <input type="file" name="imgFile" id="imgFile-for-edit" accept=".png, .jpeg, .gif" multiple hidden>
                        <div class="preview" style="display: none;"></div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button type="button" class="btn btn-secondary" onclick="clearForm('edit-location-form')">Hủy</button>
                    <button type="submit" class="btn btn-primary">
                        Tạo mới
                    </button>
                </div>
            </div>
        </form>         
    </div>
</div>

{{!Script section }}
<script src="/public/js/department/ads_ui_controller.js"></script>
<script>

    formControl("create-location-form");
    formControl("edit-location-form");

    const filterConfig = {
        filters: [
            {
                filterId: "filter-1",
                filterName: "Lựa chọn (check)",
                filterType: "choice-check",
            },
            {
                filterId: "filter-2",
                filterName: "Lựa chọn (search)",
                filterType: "choice-search",
            },
            {
                filterId: "filter-3",
                filterName: "Ngày / Khoảng ngày",
                filterType: "date",
            },
        ]
    }

    filterComponent("#filter-sample", filterConfig);

    

</script>