{{! Tab button for req pages }}
<div class="tab-bar collapse">
    <button class="tab-btn tab-btn-active" target="req_create">Yêu cầu cấp phép</button>
    <button class="tab-btn" target="req_update">Yêu cầu cập nhật</button>
</div>

{{! Toolbar section }}
<div class="toolbar">

    <div class="filter-component" id="filter-sample">
        <button class="add-filter">
            <i class="bi bi-funnel" title="New filter"></i>
            Thêm bộ lọc
        </button>
        <div class="filter-list collapse">
            <label for="filter-component-search"></label>
            <input type="text" class="filter-search" id="filter-component-search" placeholder="Lọc theo..."
                oninput="searchOnFilterList(this)">
        </div>
        <div class="filters-container">
            <div class="filter-none">Chưa có bộ lọc nào</div>
        </div>
    </div>

    <button class="primary-button" id="new_location_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#location_create"
        aria-controls="location_create">
        <i class="bi bi-plus-circle"></i>
        Tạo mới
    </button>
</div>

<div id="location-area">
    {{>new_table table_data=table1}}
</div>

{{! Location-detail }}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_extend"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_extend_header">Thông tin chi tiết điểm đặt quảng cáo</h5>
    </div>
    <div class="offcanvas-body">
        <div class="fluid-container mb-3">
            <div class="row">
                <div class="col-6">
                    <div id="ad-detail-img" class="carousel slide mb-6"
                        style="border-radius: 10px; overflow: hidden; width: 100%" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-6">
                    <table style="padding: 0;" id="info-ad-location" class="table" id="inf-table">
                        <tr>
                            <th><i class="bi bi-geo-alt"> Địa chỉ</i></th>
                            <td>47, Đ. Điện Biên Phủ, P. Đa Kao, Quận 1</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-hash"></i> Số lượng</th>
                            <td>2 bảng/điểm</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-tag"></i> Loại vị trí</th>
                            <td>Nhà riêng</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-activity"></i> Trạng thái</th>
                            <td>Chưa quy hoạch</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-bullseye"></i> Mục đích</th>
                            <td>Thương mại</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-boxes"></i> Loại bảng</th>
                            <td>2 bảng/điểm</td>
                        </tr>
                    </table>
                    <div class="edit-location-btn">
                        <button class="" id="edit-location-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#location_edit"
                            aria-controls="location_edit">
                            <i class="bi bi-pencil-fill"></i>
                            Chỉnh sửa
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay collapse" id="detail-location-overlay"></div>
        <div class="ad-detail-info-container">
            <div class="ad-detail-card">
                <div class="view">
                    <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="First slide"></button>
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                aria-label="Second slide"></button>
                            <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                aria-label="Third slide"></button>
                        </div>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="w-100 d-block" alt="Third slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="view-info">
                        <div class="view-info-attribute">
                            <span>Kích thước</span> 2m x 3m
                        </div>
                        <div class="view-info-attribute">
                            <span>Bắt đầu</span> 11/11/2023
                        </div>
                        <div class="view-info-attribute">
                            <span>Kết thúc</span> 11/12/2023
                        </div>
                        <div class="view-info-status">
                            Đang quảng cáo
                        </div>
                    </div>
                    <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    </div>
                    <div class="edit-ad-form">
                        <form action="" class="edit-ad-form">
                            <div class="imgs-field">
                                <div class="upload-field" id="edit-ad-form-img-c001">
                                    <label for="imgFile" class="drag-drop">
                                        <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                                        <div class="holder">
                                            <i class="bi bi-cloud-arrow-up-fill"></i>
                                            <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                        </div>
                                    </label>
                                    <div class="preview" style="display: none;">
                                    </div>
                                    </div>
                                    </div>
                                    <div class="info-field">
                                        <div class="ads-amount">
                                            <label for="ad-w">Chiều rộng</label>
                                            <input type="number" id="ad-w" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="ads-amount">
                                            <label for="ad-h">Chiều dài</label>
                                            <input type="number" id="ads-h" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="form-field">
                                            <label for="start-date">Bắt đầu</label>
                                            <input type="date" id="start-date" placeholder="" required>
                                        </div>
                                        <div class="form-field">
                                            <label for="end-date">Kết thúc</label>
                                            <input type="date" id="end-date" placeholder="" required>
                                        </div>
                                        <div class="submit-btn">
                                            <button type="button" class="btn btn-secondary" onclick="cancelAdEdit(this)">Hủy</button>
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                </div>
                                </form>
                                </div>
                                </div>
                                <div class="ad-detail-card">
                                    <div class="view">
                                        <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                                    aria-current="true" aria-label="First slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                                    aria-label="Second slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                                    aria-label="Third slide"></button>
                                            </div>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="First slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Second slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Third slide">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <div class="view-info">
                                            <div class="view-info-attribute">
                                                <span>Kích thước</span> 2m x 3m
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Bắt đầu</span> 11/11/2023
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Kết thúc</span> 11/12/2023
                                            </div>
                                            <div class="view-info-status">
                                                Đang quảng cáo
                                            </div>
                                        </div>
                                        <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                    </div>
                                    <div class="edit-ad-form">
                                        <form action="" class="edit-ad-form">
                                            <div class="imgs-field">
                                                <div class="upload-field" id="edit-ad-form-img-c001">
                                                    <label for="imgFile" class="drag-drop">
                                                        <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                                                        <div class="holder">
                                                            <i class="bi bi-cloud-arrow-up-fill"></i>
                                                            <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                                        </div>
                                                    </label>
                                                    <div class="preview" style="display: none;">
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="info-field">
                                        <div class="ads-amount">
                                            <label for="ad-w">Chiều rộng</label>
                                            <input type="number" id="ad-w" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="ads-amount">
                                            <label for="ad-h">Chiều dài</label>
                                            <input type="number" id="ads-h" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="form-field">
                                            <label for="start-date">Bắt đầu</label>
                                            <input type="date" id="start-date" placeholder="" required>
                                        </div>
                                        <div class="form-field">
                                            <label for="end-date">Kết thúc</label>
                                            <input type="date" id="end-date" placeholder="" required>
                                        </div>
                                        <div class="submit-btn">
                                <button type="button" class="btn btn-secondary" onclick="cancelAdEdit(this)">Hủy</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                                </div>
                                </form>
                                </div>
                                </div>
                                <div class="ad-detail-card">
                                    <div class="view">
                                        <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                                    aria-current="true" aria-label="First slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                                    aria-label="Second slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                                    aria-label="Third slide"></button>
                                            </div>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="First slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Second slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Third slide">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <div class="view-info">
                                            <div class="view-info-attribute">
                                                <span>Kích thước</span> 2m x 3m
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Bắt đầu</span> 11/11/2023
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Kết thúc</span> 11/12/2023
                                            </div>
                                            <div class="view-info-status">
                                                Đang quảng cáo
                                            </div>
                                        </div>
                                        <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                    </div>
                                
                                    <div class="edit-ad-form">
                                        <form action="" class="edit-ad-form">
                                            <div class="imgs-field">
                                                <div class="upload-field" id="edit-ad-form-img-c001">
                                                    <label for="imgFile" class="drag-drop">
                                                        <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                                                        <div class="holder">
                                                            <i class="bi bi-cloud-arrow-up-fill"></i>
                                                            <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                                        </div>
                                                    </label>
                                                    <div class="preview" style="display: none;">
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="info-field">
                                        <div class="ads-amount">
                                            <label for="ad-w">Chiều rộng</label>
                                            <input type="number" id="ad-w" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="ads-amount">
                                            <label for="ad-h">Chiều dài</label>
                                            <input type="number" id="ads-h" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="form-field">
                                            <label for="start-date">Bắt đầu</label>
                                            <input type="date" id="start-date" placeholder="" required>
                                        </div>
                                        <div class="form-field">
                                            <label for="end-date">Kết thúc</label>
                                            <input type="date" id="end-date" placeholder="" required>
                                        </div>
                                        <div class="submit-btn">
                                <button type="button" class="btn btn-secondary" onclick="cancelAdEdit(this)">Hủy</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                                </div>
                                </form>
                                </div>
                                </div>
                                
                                <div class="ad-detail-card">
                                    <div class="view">
                                        <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                                    aria-current="true" aria-label="First slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                                    aria-label="Second slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                                    aria-label="Third slide"></button>
                                            </div>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="First slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Second slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Third slide">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <div class="view-info">
                                            <div class="view-info-attribute">
                                                <span>Kích thước</span> 2m x 3m
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Bắt đầu</span> 11/11/2023
                                            </div>
                                            <div class="view-info-attribute">
                                                <span>Kết thúc</span> 11/12/2023
                                            </div>
                                            <div class="view-info-status">
                                                Đang quảng cáo
                                            </div>
                                        </div>
                                        <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                    </div>
                                    <div class="edit-ad-form">
                                        <form action="" class="edit-ad-form">
                                            <div class="imgs-field">
                                                <div class="upload-field" id="edit-ad-form-img-c001">
                                                    <label for="imgFile" class="drag-drop">
                                                        <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                                                        <div class="holder">
                                                            <i class="bi bi-cloud-arrow-up-fill"></i>
                                                            <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                                        </div>
                                                    </label>
                                                    <div class="preview" style="display: none;">
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="info-field">
                                        <div class="ads-amount">
                                            <label for="ad-w">Chiều rộng</label>
                                            <input type="number" id="ad-w" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="ads-amount">
                                            <label for="ad-h">Chiều dài</label>
                                            <input type="number" id="ads-h" placeholder="0" required>
                                            <p>m</p>
                                        </div>
                                        <div class="form-field">
                                            <label for="start-date">Bắt đầu</label>
                                            <input type="date" id="start-date" placeholder="" required>
                                        </div>
                                        <div class="form-field">
                                            <label for="end-date">Kết thúc</label>
                                            <input type="date" id="end-date" placeholder="" required>
                                        </div>
                                        <div class="submit-btn">
                                <button type="button" class="btn btn-secondary" onclick="cancelAdEdit(this)">Hủy</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                                </div>
                                </form>
                                </div>
                                </div>
                                
                                <div class="ad-detail-card">
                                    <div class="view">
                                        <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active"
                                                    aria-current="true" aria-label="First slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                                                    aria-label="Second slide"></button>
                                                <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2"
                                                    aria-label="Third slide"></button>
                                            </div>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="First slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Second slide">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        class="w-100 d-block" alt="Third slide">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
                                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="view-info">
                        <div class="view-info-attribute">
                            <span>Kích thước</span> 2m x 3m
                        </div>
                        <div class="view-info-attribute">
                            <span>Bắt đầu</span> 11/11/2023
                        </div>
                        <div class="view-info-attribute">
                            <span>Kết thúc</span> 11/12/2023
                        </div>
                        <div class="view-info-status">
                            Đang quảng cáo
                        </div>
                    </div>
                    <button class="edit-ad-btn" id="" type="button" title="Chỉnh sửa" onclick="editAd(this)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </div>

                <div class="edit-ad-form">
                    <form action="" class="edit-ad-form">
                        <div class="imgs-field">
                            <div class="upload-field" id="edit-ad-form-img-c001">
                                <label for="imgFile" class="drag-drop">
                                    <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                                    <div class="holder">
                                        <i class="bi bi-cloud-arrow-up-fill"></i>
                                        <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                                    </div>
                                </label>
                                <div class="preview" style="display: none;">
                                </div>
                            </div>
                            </div>
                            <div class="info-field">
                                <div class="ads-amount">
                                    <label for="ad-w">Chiều rộng</label>
                                    <input type="number" id="ad-w" placeholder="0" required>
                                    <p>m</p>
                                </div>
                                <div class="ads-amount">
                                    <label for="ad-h">Chiều dài</label>
                                    <input type="number" id="ads-h" placeholder="0" required>
                                    <p>m</p>
                                </div>
                                <div class="form-field">
                                    <label for="start-date">Bắt đầu</label>
                                    <input type="date" id="start-date" placeholder="" required>
                                </div>
                                <div class="form-field">
                                    <label for="end-date">Kết thúc</label>
                                    <input type="date" id="end-date" placeholder="" required>
                                </div>
                                <div class="submit-btn">
                                <button type="button" class="btn btn-secondary" onclick="cancelAdEdit(this)">Hủy</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </div>
                        </form>
                        </div>
                        </div>
        </div>
    </div>
</div>
</div>

{{! Location create }}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_create"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_create_header">Tạo điểm đặt
            quảng cáo mới</h5>
    </div>
    <div class="offcanvas-body">
        <div class="map-container" style="width: 100%; height: 15rem;">
            <div id="map">
                Waiting for map ...
            </div>
        </div>
        <form action="#" class="create-form" id="create-location-form">
            <div class="area-selection">
                <div class="form-field">
                    <label for="distict-selection">Quận</label>
                    <select name="district-selection" title="Chọn quận" required>
                        <option selected value="">Chọn quận</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="ward-selection">Phường</label>
                    <select name="ward-selection" title="Chọn phường" required disabled>
                        <option selected value="">Chọn phường</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="street">Đường</label>
                    <input type="text" name="street" placeholder="Nhập số và tên đường" title="Tên đường" required disabled>
                </div>
            </div>
            <div class="ads-info">
                <div class="form-field-col">
                    <label for="location-type-selection">Loại ví trị</label>
                    <select id="location-type-selection" required>
                        <option selected value="">Chọn loại vị trí</option>
                        <option value="1">Nhà riêng</option>
                        <option value="2">Đất công</option>
                    </select>
                </div>
                <div class="form-field-col">
                    <label for="purpose-type-selection">Hình thức quảng cáo</label>
                    <select id="purpose-type-selection" required>
                        <option selected value="">Chọn hình thức quảng cáo</option>
                        <option value="1">Thương mại</option>
                        <option value="2">Cổ động chính trị</option>
                    </select>
                </div>
                <div class="ads-amount">
                    <label for="ads-amount">Số lượng</label>
                    <input type="number" id="ads-amount" min="1" max="10" placeholder="0" required>
                    <p>bảng / địa điểm</p>
                </div>
                <div class="ads-type">
                    <label for="ads-type">Loại bảng quảng cáo</label>
                    <select id="ads-type" required>
                        <option selected value="">Chọn loại bảng quảng cáo</option>
                        <option value="1">Trụ/cụm pano</option>
                        <option value="2">Băng rôn</option>
                        <option value="3">Màn hình led</option>
                    </select>
                </div>
                <div style="width: 100%; height: 200px">
                    <div class="upload-field" id="create-location-form-upload-img">
                        <label for="imgFile" class="drag-drop">
                            <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                            <div class="holder">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                            </div>
                        </label>
                        <div class="preview" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" onclick="clearForm()">Hủy</button>
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </div>
        </form>
    </div>
</div>

{{!-- Edit location --}}
<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_edit"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_create_header">Chỉnh sửa bảng quảng cáo</h5>
    </div>
    <div class="offcanvas-body">
        <div class="map-container" style="width: 100%; height: 15rem;">
            <div id="map">
                Waiting for map ...
            </div>
        </div>
        <form action="#" class="create-form" id="edit-location-form">
            <div class="area-selection">
                <div class="form-field">
                    <label for="distict-selection">Quận</label>
                    <select name="district-selection" title="Chọn quận" required>
                        <option value="">Chọn quận</option>
                        <option value="1">Quận 5</option>
                        <option selected value="2">Quận 8</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="ward-selection">Phường</label>
                    <select name="ward-selection" title="Chọn phường" required>
                        <option value="">Chọn phường</option>
                        <option value="1">Phường 1</option>
                        <option selected value="2">Phường 2</option>
                        <option value="3">Phường 3</option>
                        <option value="4">Phường 4</option>
                        <option value="5">Phường 5</option>
                        <option value="6">Phường 6</option>
                        <option value="7">Phường 7</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="street">Đường</label>
                    <input type="text" name="street" placeholder="Nhập số và tên đường" title="Tên đường và số nhà" required
                        value="181/37 Âu Dương Lân">
                </div>
            </div>
            <div class="ads-info">
                <div class="form-field-col">
                    <label for="location-type-selection">Loại ví trị</label>
                    <select id="location-type-selection" required>
                        <option value="">Chọn loại vị trí</option>
                        <option selected value="1">Nhà riêng</option>
                        <option value="2">Đất công</option>
                    </select>
                </div>
                <div class="form-field-col">
                    <label for="purpose-type-selection">Hình thức quảng cáo</label>
                    <select id="purpose-type-selection" required>
                        <option value="">Chọn hình thức quảng cáo</option>
                        <option selected value="1">Thương mại</option>
                        <option value="2">Cổ động chính trị</option>
                    </select>
                </div>
                <div class="ads-amount">
                    <label for="ads-amount">Số lượng</label>
                    <input type="number" id="ads-amount" min="1" max="10" placeholder="0" required value="2">
                    <p>bảng / địa điểm</p>
                </div>
                <div class="ads-type">
                    <label for="ads-type">Loại bảng quảng cáo</label>
                    <select id="ads-type" required>
                        <option value="">Chọn loại bảng quảng cáo</option>
                        <option selected value="1">Trụ/cụm pano</option>
                        <option value="2">Băng rôn</option>
                        <option value="3">Màn hình led</option>
                    </select>
                </div>
                <div style="width: 100%; height: 200px">
                    <div class="upload-field" id="edit-location-form-upload-img">
                        <label for="imgFile" class="drag-drop">
                            <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                            <div class="holder">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                            </div>
                        </label>
                        <div class="preview" style="display: none;"></div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="offcanvas"
                        data-bs-target="#location_extend" aria-controls="location_extend"
                        onclick="clearForm()">Hủy</button>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{!Script section }}
<script src="/public/js/department/ads_ui_controller.js"></script>
<script>

    imgInputController("create-location-form-upload-img");
    imgInputController("edit-location-form-upload-img");
    formControl("create-location-form");
    formControl("edit-location-form");  

     const filterConfig = {
            filters: [
                {
                    filterId: "filter-1",
                    filterName: "Lựa chọn (check)",
                    filterType: "choice-check",
                },
                {
                    filterId: "filter-2",
                    filterName: "Lựa chọn (search)",
                    filterType: "choice-search",
                },
                {
                    filterId: "filter-3",
                    filterName: "Ngày / Khoảng ngày",
                    filterType: "date",
                },
            ]
        }

        filterComponent("#filter-sample", filterConfig);

</script>