{{! Toolbar section }}
<div class="toolbar">

  <form
    class="col-lg-4 mb-3 mb-lg-0 me-lg-3"
    role="search"
    onsubmit="(e)=>{e.preventDefault()}"
  >
    <input
      type="search"
      class="form-control"
      placeholder="Search..."
      id="keyword"
      aria-label="Search"
      oninput="search(this.value)"
      required
    />
  </form>
  <select
    id="typeSelect"
    class="form-select"
    aria-label="Default select example"
  >
    <option selected>Loại Vị Trí</option>
    <option value="1">Đất Công</option>
    <option value="2">Hành Lang An Toàn Giao Thông</option>
    <option value="3">Công Viên</option>
    <option value="4">Nhà Riêng</option>
  </select>
  <select
    id="methodSelect"
    class="form-select"
    aria-label="Default select example"
    onchange="filterByMethod(this.value)"
  >
    <option selected>Hình Thức</option>
    <option value="1">Cổ Động Chính Trị</option>
    <option value="2">Quảng Cáo Thương Mại</option>
    <option value="3">Xã Hội Hoá</option>
  </select>
  <select
    id="statusSelect"
    class="form-select"
    aria-label="Default select example"
    onchange="filterByStatus(this.value)"
  >
    <option selected>Trạng Thái</option>
    <option value="1">Đã Quy Hoạch</option>
    <option value="2">Chưa Quy Hoạch</option>
  </select>

  <button
    class="primary-button"
    id="new-account-btn"
    type="button"
    onclick="openAccountForm()"
  >
    <i class="bi bi-plus-circle"></i>
    Tạo mới
  </button>
</div>

<div class="popup-container collapse" id="create-account-form">
  <form class="create-account-form" action="#">
    <div class="form-popup">
      <div class="form-header">
        <h4>Tạo tài khoảng mới</h4>
        <i class="bi bi-x-lg" onclick="closeAccountForm()"></i>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="email-input">Email</label>
        </div>
        <input
          type="email"
          class="form-control input-field"
          id="email-input"
          placeholder="name@example.com"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="name-input">Họ và tên</label>
        </div>
        <input
          type="text"
          class="form-control input-field"
          id="name-input"
          placeholder="Họ và tên"
        />
      </div>

      <div class="form-group">
        <div class="label">

          <label for="phone-input">Số điện thoại</label>
        </div>
        <input
          type="text"
          class="form-control input-field"
          id="name-input"
          placeholder="0123456789"
        />
      </div>

      <div class="form-group">
        <div class="label">

          <label for="date-input">Ngày sinh</label>
        </div>
        <input
          type="date"
          class="form-control input-field"
          id="date-input"
          placeholder="01/01/2023"
        />
      </div>

      <label for="customRadioInline1">Cấp quản lý</label>

      <div class="choose-position">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="district"
            onclick="onClickRadio(this)"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Cấp quận
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="warn"
            onclick="onClickRadio(this)"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Cấp Phường
          </label>
        </div>
      </div>
      <div class="choose-area">
        <div class="wrapper-dropdown disabled" id="district-dropdown">
          <span class="selected-display" id="district-select">Chọn Quận</span>
          <i class="bi bi-chevron-down"></i>
          <ul class="dropdown">
            <li class="district-item" value="Q1">Quận 1</li>
            <li class="district=item" value="Q5">Quận 5</li>
          </ul>
        </div>

        <div class="wrapper-dropdown disabled" id="warn-dropdown">
          <span class="selected-display" id="warn-select">Chọn Phường</span>
          <i class="bi bi-chevron-down"></i>
          <ul class="dropdown">
            <li class="ward-item" value="P1">Phường 1</li>
            <li class="ward-item" value="P2">Phường 2</li>
            <li class="ward-item" value="P3">Phường 3</li>
            <li class="ward-item" value="P4">Phường 4</li>
            <li class="ward-item" value="P5">Phường 5</li>
            <li class="ward-item" value="P6">Phường 6</li>
            <li class="ward-item" value="P7">Phường 7</li>
            <li class="ward-item" value="P8">Phường 8</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="confirm-container">
      <p class="cancel" onclick="closeAccountForm()">Hủy</p>
      <button class="button-confirm" type="submit" onclick="">
        <p>Xác nhận</p>
      </button>

    </div>
  </form>
</div>
<div class="overlay collapse"></div>

<div class="deligate-table">
  <table>
    <tr>
      <th>Họ và tên</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Khu vực quản lý</th>
      <th>Trạng thái</th>
      <th>Ngày cấp</th>
    </tr>
    <tr onmouseover="hoverRow(this)" onmouseout="outRow(this)">
      <td><div class="name"><i class="bi bi-person-circle"></i><p>Huỳnh Nguyễn
            Minh Huy</p></div></td>
      <td>example@gmail.com</td>
      <td>0123456789</td>
      <td>
        <div class="dropdown-icon collapse">
          <div
            class="wrapper-dropdown area-wrapper-dropdown"
            id="district-dropdown"
          >
            <span
              class="area-selected-display"
              id="district-selection"
              data-value=""
              onclick="toggleDropdown(this)"
            >Chọn Quận</span>
            <i class="bi bi-chevron-down"></i>
            <ul class="area-dropdown dropdown-with-search">
              <li class="area-dropdown-search"><input
                  type="text"
                  class=""
                  placeholder="Tìm kiếm...."
                  oninput="filterDropdown(this)"
                /></li>
              <li class="item" data-value="Q2" onclick="optionClick(this)">Quận
                2</li>
              <li class="item" data-value="Q3" onclick="optionClick(this)">Quận
                3</li>

            </ul>
          </div>
          <div class="save-cancel-button">
            <div class="save-button">
              <button type="button" id="save" onclick="saveEdition(this)">
                <i class="bi bi-check2-circle"></i>
                <p>Lưu</p>
              </button>
            </div>
            <div class="cancel-button">
              <button type="button" id="cancel" onclick="cancelEdition(this)">
                <i class="bi bi-ban"></i>
                <p>Hủy</p>
              </button>
            </div>
          </div>
        </div>
        <div class="edit-location"><p class="area-content">Quận Bình Thạnh</p>
          <i
            class="bi bi-pencil-fill"
            onclick="onClickPen(this)"
          ></i></div></td>
      <td><div
          class="wrapper-dropdown status-wrapper-dropdown on"
          id="status-dropdown"
          onclick="onClickStatusDropdown(this)"
        >
          <span class="selected-display on" id="status" value="ON">Đang hoạt
            động</span>
          <i class="bi bi-chevron-down status-icon"></i>
          <ul class="status-dropdown">
            <li class="status-item" value="ON"><p class="on status">Đang hoạt
                động</p></li>
            <li class="status-item" value="BLOCK"><p class="block status">Đã
                khóa</p></li>
          </ul>

        </div></td>
      <td>29/10/2023</td>

    </tr>

    <tr onmouseover="hoverRow(this)" onmouseout="outRow(this)">
      <td>
        <div class="name"><i class="bi bi-person-circle"></i>
          <p>Huỳnh Nguyễn
            Minh Huy</p>
        </div>
      </td>
      <td>example@gmail.com</td>
      <td>0123456789</td>
      <td>
    
        <div class="area-wrapper-dropdown" id="district-dropdown">
          <span class="area-selected-display" id="district-selection" data-value="" onclick="toggleDropdown(this)">Chọn
            Quận</span>
          <i class="bi bi-chevron-down"></i>
          <ul class="area-dropdown dropdown-with-search">
            <li class="area-dropdown-search"><input type="text" class="" placeholder="Tìm kiếm...."
                oninput="filterDropdown(this)" /></li>
            <li class="item" data-value="Q2" onclick="optionClick(this)">Quận 2</li>
            <li class="item" data-value="Q3" onclick="optionClick(this)">Quận 3</li>
    
          </ul>
        </div>
        <div class="edit-location collapse">Quận Bình Thạnh
          <i class="bi bi-pencil-fill"></i>
        </div>
      </td>
      <td>
        <div class="status-wrapper-dropdown" id="status-dropdown" onclick="onClickStatusDropdown(this)">
          <span class="selected-display on" id="status" value="ON">Đang hoạt
            động</span>
          <i class="bi bi-chevron-down"></i>
          <ul class="status-dropdown">
            <li class="status-item" value="ON">
              <p class="on status">Đang hoạt
                động</p>
            </li>
            <li class="status-item" value="BLOCK">
              <p class="block status">Đã
                khóa</p>
            </li>
          </ul>
    
        </div>
      </td>
      <td>29/10/2023</td>
    
    </tr>

    <tr onmouseover="hoverRow(this)" onmouseout="outRow(this)">
      <td><div class="name"><i class="bi bi-person-circle"></i><p>Huỳnh Nguyễn
            Minh Huy</p></div></td>
      <td>example@gmail.com</td>
      <td>0123456789</td>
      <td>
        <div class="dropdown-icon collapse">
          <div
            class="wrapper-dropdown area-wrapper-dropdown"
            id="district-dropdown"
          >
            <span
              class="area-selected-display"
              id="district-selection"
              data-value=""
              onclick="toggleDropdown(this)"
            >Chọn Quận</span>
            <i class="bi bi-chevron-down"></i>
            <ul class="area-dropdown dropdown-with-search">
              <li class="area-dropdown-search"><input
                  type="text"
                  class=""
                  placeholder="Tìm kiếm...."
                  oninput="filterDropdown(this)"
                /></li>
              <li class="item" data-value="Q2" onclick="optionClick(this)">Quận
                2</li>
              <li class="item" data-value="Q3" onclick="optionClick(this)">Quận
                3</li>

            </ul>
          </div>
          <div class="save-cancel-button">
            <div class="save-button">
              <button type="button" id="save" onclick="saveEdition(this)">
                <i class="bi bi-check2-circle"></i>
                <p>Lưu</p>
              </button>
            </div>
            <div class="cancel-button">
              <button type="button" id="cancel" onclick="cancelEdition(this)">
                <i class="bi bi-ban"></i>
                <p>Hủy</p>
              </button>
            </div>
          </div>
        </div>
        <div class="edit-location"><p class="area-content">Phường 1, Quận 5</p>
          <i
            class="bi bi-pencil-fill"
            onclick="onClickPen(this)"
          ></i></div></td>
      <td><div
          class="wrapper-dropdown status-wrapper-dropdown block"
          id="status-dropdown"
          onclick="onClickStatusDropdown(this)"
        >
          <span class="selected-display" id="status" value="BLOCK">Đã khóa</span>
          <i class="bi bi-chevron-down status-icon"></i>
          <ul class="status-dropdown">
            <li class="status-item" value="ON"><p class="on status">Đang hoạt
                động</p></li>
            <li class="status-item" value="BLOCK"><p class="block status">Đã
                khóa</p></li>
          </ul>

        </div></td>
      <td>29/10/2023</td>

    </tr>

  </table>

  <div class="table-overlay collapse"></div>

</div>