<div class="feedback-container">
  <div class="loaction-container">
    <p>Chọn khu vực</p>
    <div
      class="wrapper-dropdown"
      id="district-dropdown"
    >
      <span class="selected-display" id="district" value="" onclick="onClickDropdown(this)">Chọn Quận</span>
      <i class="bi bi-chevron-down" onclick="onClickDropdown(this)"></i>
      <ul class="dropdown">
        {{!-- <li class="item" value="Q1">Quận 1</li>
        <li class="item" value="Q5">Quận 5</li> --}}
      </ul>

    </div>
    <i class="bi bi-chevron-right"></i>
    <div
      class="wrapper-dropdown disabled"
      id="ward-dropdown"
    >
      <span class="selected-display" id="ward" onclick="onClickDropdown(this)">Chọn Phường</span>
      <i class="bi bi-chevron-down"></i>
      <ul class="dropdown">

      </ul>

    </div>
  </div>
  <div class="all-feedbacks-container">
    <div class="no-location">
      <img
        src="/public/images/department_feedback_choose_location.svg"
        alt="Not found!"
      />
      <p>Chọn một khu vực để xem các đơn phản hồi</p>
    </div>

    <div class="feedback-table collapse">
      <div class="table">
        <table>
        </table>
      </div>
    </div>
    <div class="feedback-detail collapse">
      <div class="no-feedback collapse">
        <img
          src="/public/images/department_feedback_choose_feedback.svg"
          alt="Not found!"
        />
        <p>Chọn một đơn phản ánh để xem chi tiết</p>
      </div>

      <div class="feedback-respond collapse">
        <div class="header">
          <h3>Chi tiết phản ánh</h3>
        </div>

        <div class="feedback-loading">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="feedback-info collapse">
          <div class="label">
            <p>Thông tin phản ánh</p>
          </div>

          <div class="info address">
            <div class="icon-tag">
              <i class="bi bi-person"></i>
              <p class="tag">Người gửi</p>
            </div>
            <p class="tag-content"></p>
          </div>

          <div class="info phone">
            <div class="icon-tag">

              <i class="bi bi-telephone"></i>
              <p class="tag">Điện thoại</p>
            </div>
            <p class="tag-content"></p>
          </div>

          <div class="info email">
            <div class="icon-tag">

              <i class="bi bi-envelope-open"></i>
              <p class="tag">Email</p>
            </div>
            <p class="tag-content"></p>
          </div>

          <div class="info type">
            <div class="icon-tag">

              <i class="bi bi-chat-left-dots"></i>
              <p class="tag"></p>
            </div>
            <p class="tag-content"></p>
          </div>

          <div class="info content">
            <div class="icon-tag">

              <i class="bi bi-file-text"></i>
              <p class="tag"></p>
            </div>
          </div>

          <div class="feedback-content">
            
          </div>

          <div class="info img">
            <div class="icon-tag">

              <i class="bi bi-images"></i>
              <p class="tag">Hình ảnh</p>
            </div>

          </div>

          <div class="feedback-img">
            <img
              src="https://i.pinimg.com/736x/76/0e/44/760e443f48e717902335cb1744dfd408.jpg"
              alt="Not Found!"
            />
            <img
              src="https://phinf.wevpstatic.net/MjAyMzExMjBfMTA0/MDAxNzAwNDY4NjYzOTEw.KHCc59RdWa4v0FOcQvHOLMMTrVql7nQ6QWy-IIsPuI8g.jNXEdBpAU3_ic2ROJTA__l-CYcCasi2-Uz5FE3S_1H4g.PNG/358533087601650753fc1239b-0c62-45b7-a2dc-95a6ceecff4c.png?type=f960_540"
              alt="Not found!"
            />
          </div>

        </div>

        <div class="respond-info collapse">

          <div class="feedback-info">
            <div class="label">
              <p>Thông tin phản hồi</p>
            </div>

            <div class="info address">
              <div class="icon-tag">
                <i class="bi bi-person"></i>
                <p class="tag">Cán bộ xử lý</p>
              </div>
              <p class="tag-content">Huỳnh Nguyễn Minh Huy</p>
            </div>

            <div class="info phone">
              <div class="icon-tag">

                <i class="bi bi-clock"></i>
                <p class="tag">Thời gian xử lý</p>
              </div>
              <p class="tag-contetn">06:14 11/27/2023</p>
            </div>

            <div class="info content">
              <div class="icon-tag">

                <i class="bi bi-file-text"></i>
                <p class="tag">Hướng xử lý</p>
              </div>
            </div>

            <div class="feedback-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem suscipit corporis debitis eaque rem, repellendus
              deleniti saepe, alias porro neque non harum ut accusantium!
              Molestiae maxime ullam, pariatur tenetur quis beatae dolorem
              doloribus cupiditate eum alias culpa maiores commodi tempore
              facere eius velit labore aut. Quasi, maxime tempore? Nam facere
              molestiae perspiciatis velit totam omnis ratione non repellat
              quibusdam dolorem.
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>