<div class="lable-container">
  <div class="labels">
    <div class="lable shadow">
      <img src="/public/images/department_lable_location.svg" alt="Not found" />
      <h4>Vị trí</h4>
      <p>Mô tả ngắng gọn vị trí đặt điểm quảng cáo</p>
      <div class="lable-icon">
        <i class="bi bi-arrow-right"></i>
      </div>

    </div>
    <div class="lable shadow">
      <img src="/public/images/department_lable_purpose.svg" alt="Not found" />
      <h4>Mục đích</h4>
      <p>Chủ đề chung của các bảng quảng cáo</p>
      <div class="lable-icon">
        <i class="bi bi-arrow-right"></i>
      </div>

    </div>
    <div class="lable shadow">
      <img src="/public/images/department_lable_adtype.svg" alt="Not found" />
      <h4>Loại QC</h4>
      <p>Loại bảng quảng cáo được lắp đặt</p>
      <div class="lable-icon">
        <i class="bi bi-arrow-right"></i>
      </div>

    </div>
    <div class="lable shadow">
      <img src="/public/images/department_lable_feedback.svg" alt="Not found" />
      <h4>Phản ánh</h4>
      <p>Phân loại phản ánh từ người dân</p>
      <div class="lable-icon">
        <i class="bi bi-arrow-right"></i>
      </div>

    </div>

  </div>

  <div class="lable-table">
    <img src="/public/images/department_lable_nodata.svg" alt="Not found" />
    <h4>Chọn một danh mục để quản lý</h4>

  </div>
</div>