<div class="label-container">
  <div class="labels">
    <div class="label" id="T1">
      <img src="/public/images/department_lable_location.svg" alt="Not found" />
      <h4>Vị trí</h4>
      <p>Mô tả ngắng gọn vị trí đặt điểm quảng cáo</p>
      <div class="label-icon">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
    <div class="label" id="T2">
      <img src="/public/images/department_lable_purpose.svg" alt="Not found" />
      <h4>Mục đích</h4>
      <p>Chủ đề chung của các bảng quảng cáo</p>
      <div class="label-icon">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
    <div class="label" id="T4">
      <img src="/public/images/department_lable_adtype.svg" alt="Not found" />
      <h4>Loại QC</h4>
      <p>Loại bảng quảng cáo được lắp đặt</p>
      <div class="label-icon">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
    <div class="label" id="T3">
      <img src="/public/images/department_lable_feedback.svg" alt="Not found" />
      <h4>Phản ánh</h4>
      <p>Phân loại phản ánh từ người dân</p>
      <div class="label-icon">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="label-table">
    <div class="notification">
      <img src="/public/images/department_lable_nodata.svg" alt="Not found" />
      <h4>Chọn một danh mục để quản lý</h4>
    </div>

    <div class="label-table-header collapse">
      <div class="name-container">
        <p class="header-title" id="name-list-header">Tên danh mục</p>
      </div>
      <div class="description-container">
        <p class="header-title" id="description-header">Mô tả</p>
      </div>
      <div class="created-date-container">
        <p class="header-title" id="created-date-header">Ngày tạo</p>
      </div>
      <div class="label-header-button">
        <button type="button" id="add-row" onclick="addRow(this)">
          <i class="bi bi-plus-circle"></i>
          <p>Thêm dòng</p>
        </button>
      </div>
    </div>
    <div class="label-table-row">
      <div class="name-description">
        <div class="name-content">
          <p class="placeholder "></p>
        </div>
        <div class="description-content">
          <p class="placeholder "></p>
        </div>
      </div>
      <div class="created-date-content">
        <p class="created-date"><p class="placeholder "></p></p>
      </div>
    </div>
  </div>
</div>