<div class="tab-bar">
    <button class="tab-btn tab-btn-active" target="req_create">Yêu cầu cấp phép</button>
    <button class="tab-btn" target="req_update">Yêu cầu cập nhật</button>
</div>

{{! Toolbar section }}
<div class="toolbar">

    <form class="col-lg-4 mb-3 mb-lg-0 me-lg-3" role="search" onsubmit="(e)=>{e.preventDefault()}">
        <input type="search" class="form-control" placeholder="Search..." id="keyword" aria-label="Search"
            oninput="search(this.value)" required />
    </form>
    <select id="typeSelect" class="form-select" aria-label="Default select example">
        <option selected>Loại Vị Trí</option>
        <option value="1">Đất Công</option>
        <option value="2">Hành Lang An Toàn Giao Thông</option>
        <option value="3">Công Viên</option>
        <option value="4">Nhà Riêng</option>
    </select>
    <select id="methodSelect" class="form-select" aria-label="Default select example"
        onchange="filterByMethod(this.value)">
        <option selected>Hình Thức</option>
        <option value="1">Cổ Động Chính Trị</option>
        <option value="2">Quảng Cáo Thương Mại</option>
        <option value="3">Xã Hội Hoá</option>
    </select>
    <select id="statusSelect" class="form-select" aria-label="Default select example"
        onchange="filterByStatus(this.value)">
        <option selected>Trạng Thái</option>
        <option value="1">Đã Quy Hoạch</option>
        <option value="2">Chưa Quy Hoạch</option>
    </select>

    <button class="collapse" id="new_location_btn" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#location_create" aria-controls="location_create">
        <i class="bi bi-plus-circle"></i>
        Tạo mới
    </button>

</div>

<div id="req-area">
    {{!Collapsible table for req create}}
    {{!-- {{>new_collapsible_row table_data=table1}} --}}
    <div class="table-container" id="req_create_table">
        <div class="table-header">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Quận</th>
                        <th scope="col" style="width: 10%;">Phường</th>
                        <th scope="col" style="width: 20%;">Địa chỉ</th>
                        <th scope="col" style="width: 20%;">Loại ví trí</th>
                        <th scope="col" style="width: 10%;">Số lượng</th>
                        <th scope="col" style="width: 10%;">Hình thức</th>
                        <th scope="col" style="width: 10%;">Trạng thái</th>
                        <th scope="col" class="extend-btn" style="width: 10%;"></th>
                    </tr>
                </thead>
            </table>
        </div>
        {{!-- <div class="table-row">
            <table class="table">
                <tbody>
                    <tr>
                        <td scope="row" style="width: 10%;">Quận 1</td>
                        <td scope="row" style="width: 10%;">Đa Kao</td>
                        <td scope="row" style="width: 20%;">47 Đ. Điện Biên Phủ</td>
                        <td scope="row" style="width: 20%;">Hành lang an toàn giao thông</td>
                        <td scope="row" style="width: 10%;">3</td>
                        <td scope="row" style="width: 10%;">Thương mại</td>
                        <td style="width: 10%;">
                            <div class="table-status
                                    status-location-active">
                                Chưa quy hoạch
                            </div>
                        </td>
                    <td class="extend-btn" style="text-align: right; width: 10%;">
                        <button id="collapse-btn" class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#r1" aria-expanded="false" aria-controls="r1" onclick="handleCopplaseContent(this)">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div class="collapse" id="r1" style="width: 100%;" showed="false">
                <div class="collapsed-content loading">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>

    

    {{! section for req update }}
    <div id="req_update" class="collapse">
        <div class="accordion accordion-flush" id="allRequest">
            <div class="accordion-item">
                <div class="accordion-header" id="reqCreate-heading">
                    <button class="accordion-button req-accordion-header" type="button" data-bs-toggle="collapse"
                        data-bs-target="#reqCreate-collapse" aria-expanded="true" aria-controls="allRequest"
                        style="border: 0px; box-shadow: none; background-color: rgb(249, 250, 253);">
                        Yêu cầu chưa được xử lý
                    </button>
                </div>
                <div id="reqCreate-collapse" class="accordion-collapse show collapse"
                    aria-labelledby="reqCreate-heading" data-bs-parent="#allRequest">
                    <div class="accordion-body">
                        <div class="accordion" id="reqUpdateInProcess">
                            <div class="accordion-item">
                                <div class="accordion-header area-accordion-header" id="area1-heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#area1-collapse" aria-expanded="true"
                                        aria-controls="area1-collapse"
                                        style="background-color: transparent; box-shadow: none;">
                                    </button>
                                    <h5>Quận 1</h5>
                                    <span></span>
                                    <p>Số lượng yêu cầu: 4</p>
                                </div>
                                <div id="area1-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="area1-heading" data-bs-parent="#reqUpdateInProcess">
                                    <div class="accordion-body">
                                        {{>new_table table_data=table2}}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header area-accordion-header" id="area2-heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#area2-collapse" aria-expanded="true"
                                        aria-controls="area2-collapse"
                                        style="background-color: transparent; box-shadow: none;">
                                    </button>
                                    <h5>Quận 8</h5>
                                    <span></span>
                                    <p>Số lượng yêu cầu: 4</p>
                                </div>
                                <div id="area2-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="area2-heading" data-bs-parent="#reqUpdateInProcess">
                                    <div class="accordion-body">
                                        {{>new_table table_data=table3}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" id="reqUpdate-heading">
                    <button class="accordion-button collapsed req-accordion-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#reqUpdate-collapse" aria-expanded="true"
                        aria-controls="allRequest"
                        style="border: 0px; box-shadow: none; background-color: rgb(249, 250, 253);">
                        Yêu cầu đã được xử lý
                    </button>
                </div>
                <div id="reqUpdate-collapse" class="accordion-collapse collapse" aria-labelledby="reqUpdate-heading"
                    data-bs-parent="#allRequest">
                    <div class="accordion-body">
                        <div class="accordion" id="reqUpdateDone">
                            <div class="accordion-item">
                                <div class="accordion-header area-accordion-header" id="area1-heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#area1-collapse"
                                        aria-expanded="true" aria-controls="area1-collapse" style="background-color: transparent; box-shadow: none;">
                                    </button>
                                    <h5>Quận 1</h5>
                                    <span></span>
                                    <p>Số lượng yêu cầu: 4</p>
                                    </div>
                                    <div id="area1-collapse" class="accordion-collapse collapse" aria-labelledby="area1-heading"
                                        data-bs-parent="#reqUpdateDone">
                                        <div class="accordion-body">
                                            {{>new_table table_data=table2}}
                                        </div>
                                    </div>
                                    </div>

                            <div class="accordion-item">
                                <div class="accordion-header area-accordion-header" id="area2-heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#area2-collapse"
                                        aria-expanded="true" aria-controls="area2-collapse" style="background-color: transparent; box-shadow: none;">
                                    </button>
                                    <h5>Quận 8</h5>
                                    <span></span>
                                    <p>Số lượng yêu cầu: 4</p>
                                    </div>
                                    <div id="area2-collapse" class="accordion-collapse collapse" aria-labelledby="area2-heading"
                                        data-bs-parent="#reqUpdateDone">
                                        <div class="accordion-body">
                                            {{>new_table table_data=table3}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Request update detail --}}

<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="update_detail"
    aria-labelledby="Location extend information">
    <div class="offcanvas-header sidepeek-location-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="location_create_header">Chi tiết yêu cầu cập nhật</h5>
    </div>
    <div class="offcanvas-body">
        <div class="req-update-common-info">
            <h4>Thông tin chung</h4>
            <table class="table">
                <tr>
                    <th>Địa chỉ</th>
                    <td>47 Đ. Điện Biên Phủ, phường 2, quận 2</td>
                </tr>
                <tr>
                    <th>Mã yêu cầu</th>
                    <td>RU011111</td>
                </tr>
                <tr>
                    <th>Người gửi</th>
                    <td>Tam Quỷ</td>
                </tr>
                <tr>
                    <th>Thời gian gửi</th>
                    <td>10:25 15/10/2023</td>
                </tr>
                <tr>
                    <th>Loại yêu cầu</th>
                    <td>Địa điểm</td>
                </tr>
            </table>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#req-update-location-info"
                aria-expanded="false" aria-controls="req-update-location-info">
                Xem thông tin địa điểm
            </button>
        </div>
        <div class="collapse" id="req-update-location-info">
            <div class="row">
                <div class="col-5">
                    <div id="ad-detail-img" class="carousel slide mb-6"
                        style="border-radius: 10px; overflow: hidden; width: 100%" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1541535650810-10d26f5c2ab3?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="h-100 w-100" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-img"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-7">
                    <table style="padding: 0;" id="info-ad-location" class="table" id="inf-table">
                        <tr>
                            <th><i class="bi bi-geo-alt"> Địa chỉ</i></th>
                            <td>47, Đ. Điện Biên Phủ, P. Đa Kao, Quận 1</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-hash"></i> Số lượng</th>
                            <td>2 bảng/điểm</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-tag"></i> Loại vị trí</th>
                            <td>Nhà riêng</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-activity"></i> Trạng thái</th>
                            <td>Chưa quy hoạch</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-bullseye"></i> Mục đích</th>
                            <td>Thương mại</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-boxes"></i> Loại bảng</th>
                            <td>2 bảng/điểm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="req-update-detail-info">
            <h4>Nội dung yêu cầu</h4>
            <h6>Lí do cập nhật</h6>
            <div class="ru-reason">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium temporibus, id quos nihil qui
                maiores
                molestiae ea, facere dolorum laboriosam quaerat quae iure, numquam eos? Earum ipsam, harum id officiis
                alias nam
                ea nemo quia illum delectus porro dolore dolorum omnis officia deserunt voluptate sed inventore at! Ad
                sapiente,
                quo a voluptatibus est, minus alias labore enim voluptate neque maiores voluptatum! Eligendi excepturi
                ut
                inventore numquam quia, iste saepe reiciendis est illo aliquid necessitatibus, dolorum eveniet, tempora
                delectus
                distinctio doloribus sint dolores. Explicabo molestias at vitae ipsum, reprehenderit itaque dolorum
                obcaecati
                corporis aliquid ex accusamus consequuntur ad, veniam enim quos!
            </div>
            <h6>Thông tin cập nhật</h6>
            <div class="table-container">
                <table class="table">
                    <tr>
                        <th>Công ty</th>
                        <td>
                            <div class="ru-table-cell ru-table-cell-changing">
                                <div title="Thông tin hiện tại">
                                    <span class="badge text-bg-primary">Hiện tại</span> <span>Công ty THNN ABC</span>
                                </div>
                                <div title="Thông tin mới">
                                    <span class="badge text-bg-success">Sẽ cập nhật</span> <span>Công ty TNHH DCE</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Kích thước</th>
                        <td>
                            <div class="ru-table-cell">
                                <div title="Thông tin hiện tại">
                                    <span>2.5m x 4m</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Ngày bắt đầu</th>
                        <td>
                            <div class="ru-table-cell ru-table-cell-changing">
                                <div title="Thông tin hiện tại">
                                    <span class="badge text-bg-primary">Hiện tại</span> <span>11/12/2023</span>
                                </div>
                                <div title="Thông tin mới">
                                    <span class="badge text-bg-success">Sẽ cập nhật</span> <span>20/12/2023</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Ngày kết thúc</th>
                        <td>
                            <div class="ru-table-cell ru-table-cell-changing">
                                <div title="Thông tin hiện tại">
                                    <span class="badge text-bg-primary">Hiện tại</span> <span>11/12/2023</span>
                                </div>
                                <div title="Thông tin mới">
                                    <span class="badge text-bg-success">Sẽ cập nhật</span> <span>20/12/2023</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            <div class="ru-table-cell ru-table-cell-changing">
                                <div title="Thông tin hiện tại">
                                    <span class="badge text-bg-primary">Hiện tại</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum
                                        voluptates
                                        quia
                                        quibusdam, quos, quod voluptate quas quae voluptatibus doloribus quidem
                                        voluptatem
                                        accusamus
                                        doloremque. Quisquam, voluptatum voluptates quia quibusdam, quos, quod voluptate
                                        quas
                                        quae
                                        voluptatibus doloribus quidem voluptatem accusamus doloremque.</p>
                                </div>
                                <div title="Thông tin mới">
                                    <span class="badge text-bg-success">Sẽ cập nhật</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum
                                        voluptates
                                        quia
                                        quibusdam, quos, quod voluptate quas quae voluptatibus doloribus quidem
                                        voluptatem
                                        accusamus
                                        doloremque. Quisquam, voluptatum voluptates quia quibusdam, quos, quod voluptate
                                        quas
                                        quae
                                        voluptatibus doloribus quidem voluptatem accusamus doloremque.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="req-update-btns">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Hủy</button>
            <button type="button" class="btn btn-primary">
                Xác nhận
            </button>
        </div>
    </div>
</div>
<script src="/public/js/department/ads_ui_controller.js"></script>
<script>
    setColumnWidths("req_create_table", ["10%", "10%", "20%", "20%", "10%", "10%", "10%"]);

</script>